
{% extends "layout.html" %}

{% block page_title %}
  Your answers - Bank details - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="heading-xlarge">Your answers</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Bank details</p>
            </header>

            <div class="panel panel-border-wide spacelarge">
                <p><a href="accounts">Add a bank account</a></p>
            </div>

            <section class="check-your-answers">
                <h2 class="heading-small">Lloyds TSB</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list">
                    <li>Sort code: 45-33-14</li>
                    <li>Account number: *****37</li>
                    <li>UK Bank Account: yes</li>
                    <li>Account type: This business’ account</li>
                </ul>
                <footer class="group">
                    <p><a href="accounts" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Lloyds TSB&#8221;</span></a> or <a href="remove">Remove<span class="visuallyhidden"> your answer for &#8220;Lloyds TSB&#8221;</span></a></p>

                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Lloyds TSB</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list">
                    <li>Sort code: 45-33-14</li>
                    <li>Account number: ******37</li>
                    <li>UK Bank Account: yes</li>
                    <li>Account type: This business’ account</li>
                </ul>
                <footer class="group">
                    <p><a href="accounts" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Lloyds TSB&#8221;</span></a> or <a href="remove">Remove<span class="visuallyhidden"> your answer for &#8220;Lloyds TSB&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Lloyds TSB</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list">
                    <li>Sort code: 45-33-14</li>
                    <li>Account number: ******37</li>
                    <li>UK Bank Account: yes</li>
                    <li>Account type: This business’ account</li>
                </ul>
                <footer class="group">
                    <p><a href="accounts" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Lloyds TSB&#8221;</span></a> or <a href="remove">Remove<span class="visuallyhidden"> your answer for &#8220;Lloyds TSB&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Lloyds TSB</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list">
                    <li>Sort code: 45-33-14</li>
                    <li>Account number: ******37</li>
                    <li>UK Bank Account: yes</li>
                    <li>Account type: This business’ account</li>
                </ul>
                <footer class="group">
                    <p><a href="accounts" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Lloyds TSB&#8221;</span></a> or <a href="remove">Remove<span class="visuallyhidden"> your answer for &#8220;Lloyds TSB&#8221;</span></a></p>
                </footer>
            </section>

            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Confirm and continue">
                </div>
            </form>

            <p><a href="#">Print this page</a></p>

        </div>
    </div>
</main>
{% endblock %}
