{{<layout}}

{{$pageTitle}}
  Are you registered with HMRC to handle other business’ tax matters? - Accountancy service provider - Anti-money laundering registration - GOV.UK
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}

            <header class="page-header">
                <h1 class="heading-xlarge">Are you registered with HMRC to handle other business&#8217; tax matters?</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Accountancy Service Provider</p>
            </header>

            <p class="form-hint">This refers to the HMRC Agent Registration Scheme</p>

            <form method="post">
                <input type="hidden" name="next-page" value="check-your-answers">

                <div class="form-group">
                    <fieldset class="inline">
                        <legend class="visuallyhidden">Are you registered with HMRC to handle other business&#8217; tax matters?</legend>
                        <label class="block-label" for="radio-inline-2-1" data-target="vat">
                            <input id="radio-inline-2-1" type="radio" name="radio-inline-group-2" value="Yes">Yes
                        </label>
                        <label class="block-label" for="radio-inline-2-2">
                            <input id="radio-inline-2-2" type="radio" name="radio-inline-group-2" value="No">No
                        </label>

                        <div class="panel panel-border-narrow js-hidden" id="vat">
                            <label class="form-label" for="vat">HMRC Agent Registration Number
                                <span class="form-hint">It must be 11 characters long</span>
                            </label>
                            <input class="form-control" name="vat" type="text" id="sort-code">
                        </div>
                    </fieldset>
                </div>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>

        </div>
    </div>

{{/main}}
{{/layout}}
