        </div>
    </div>
</main>
{% endblock %}

{% block page_title %}
    Your agent's company details? - Trading premises - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           <!-- {% include "includes/back.html" %} -->

            <header class="page-header">
                <h1 class="heading-xlarge">Your agent's company details?</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Trading premises</p>
            </header>

            <form class="form" method="post">
                <input type="hidden" name="next-page" value="premises">

                <fieldset>
                    <legend class="visuallyhidden">Your agent's company details?</legend>

                    <div class="form-group">
                        <label class="form-label" for="middle-name">What is your agent&#8217;s registered company name?</label>
                        <span class="form-hint">It must be identical to the registered name on the incorporation certificate.</span>
                        <input type="text" id="middle-name" class="form-control">
                    </div>
                </fieldset>

                <fieldset>
                    <legend class="visuallyhidden">What is your agent&#8217;s company registration number?</legend>

                    <div class="form-group">
                        <label class="form-label" for="middle-name">What is your agent&#8217;s company registration number?</label>
                        <span class="form-hint">For example: A1234567</span>

                        <input type="text" id="middle-name" class="form-control">
                    </div>
                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>

        </div>
    </div>
</main>
{% endblock %}
