{{<layout}}

{{$pageTitle}}
  Is this business registered with a redress scheme? - Estate agents - Anti-money laundering registration - GOV.UK
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}

            <header class="page-header">
                <h1 class="heading-xlarge">Is this business registered with a redress scheme?</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Estate Agency Business</p>
            </header>

            <form class="form" method="post">
                <input type="hidden" name="next-page" value="penalised-act">

                <div class="form-group">

                    <fieldset class="inline">
                        <legend class="visuallyhidden">Is this business registered with a redress scheme?</legend>
                        <span class="form-hint">A redress scheme is an independent service which resolves disputes between an estate agent business and its customers.</span>
                        <label class="block-label" for="yes-scheme" data-target="hidden">
                            <input id="yes-scheme" type="radio" name="group-2" value="Yes">Yes
                        </label>
                        <label class="block-label" for="no-scheme">
                            <input id="no-scheme" type="radio" name="group-2" value="No">No
                        </label>
                    </fieldset>

                    <div class="panel panel-border-narrow js-hidden" id="hidden">
                        <p class="form-label">Which redress scheme?</p>
                        <div class="form-group">
                            <label class="block-label">
                                <input id="asp" type="radio" class="form-control" name="scheme" value="tpol">The Property Ombudsman Limited
                            </label>
                            <label class="block-label">
                                <input id="ct" type="radio" class="form-control" name="scheme" value="os">Ombudsman Services
                            </label>
                            <label class="block-label">
                                <input id="paye" type="radio" class="form-control" name="scheme" value="prs">Property Redress Scheme
                            </label>
                            <label class="block-label" data-target="other">
                                <input id="paye" type="radio" class="form-control" name="scheme" value="other">Other
                            </label>

                            <div id="other" class="js-hidden">
                                <div class="form-group">
                                    <label class="form-label" for="first-name-2">Please specify</label>
                                    <input class="form-control" id="first-name-2" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>

        </div>
    </div>

{{/main}}
{{/layout}}
