<div class="form-group form-group-day">
    <label for="dob-day">Day</label>
    <input class="form-control" id="dob-day" name="dob-day" type="text" {{--pattern="[0-9]{1,2}" min="0" max="31" aria-required="true" required="required" title="Day format: dd"--}} />
</div>
<div class="form-group form-group-month">
    <label for="dob-month">Month</label>
    <input class="form-control" id="dob-month" name="dob-month" type="text" {{--pattern="[0-9]{1,2}" min="0" max="12" aria-required="true" required="required" title="Month format: mm"--}} />
</div>
<div class="form-group form-group-year">
    <label for="dob-year">Year</label>
    <input class="form-control" id="dob-year" name="dob-year" type="text" {{--pattern="[0-9]{1,4}" min="0" max="2016" aria-required="true" required="required" title="Year format: yyyy"--}} />
</div>
