<div class="grid-row temp-links">
        <div class="column-two-thirds">
            <span class="form-hint">Temp links for moving between statuses</span>
            <p><a href="application-incomplete">1</a>,<a href="application-not-submitted">2</a>,<!-- <a href="application-fee-not-paid">3</a>, --><a href="application-pending">3</a>,<a href="application-approved">4a</a>,<a href="application-rejected">4b</a></p>

            <h3>Variations</h3>
            <p><a href="application-variation">1a</a>,<a href="application-variation-cant-submit">1b</a>,<a href="application-variation-pending">2</a>,<a href="application-approved">3</a></p>

            <p><a href="application-renewal">Renewal beta</a></p>
        </div>
    </div>
