{{<layout}}

{{$pageTitle}}
  What is your agent&#8217;s business structure? - Trading premises - Anti-money laundering registration - GOV.UK
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}

            <header class="page-header">
                <h1 class="heading-xlarge">What is your agent&#8217;s business structure?</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Trading premises</p>
            </header>

            <form class="form" method="post">
                <fieldset>
                    <legend class="visuallyhidden">What is your agent&#8217;s business structure?</legend>
                    <div class="form-group">
                        <label class="block-label">
                            <input type="radio" name="next-page" id="ub" value="crn-number">Limited company
                        </label>
                        <label class="block-label">
                            <input type="radio" name="next-page" id="sole" value="dateofbirth">Sole proprietor
                        </label>
                        <label class="block-label">
                            <input type="radio" name="next-page" id="cb" value="partners">Partnership
                        </label>
                        <label class="block-label">
                            <input type="radio" name="next-page" id="partner" value="crn-number">Limited partnership or limited liability partnership
                        </label>

                        <label class="block-label">
                            <input type="radio" name="next-page" id="other" value="premises-registered">Unincorporated association or trust
                        </label>
                    </div>
                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>

        </div>
    </div>

{{/main}}
{{/layout}}
