// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// for anyone panicking about the nested media queries...
// https://www.npmjs.com/package/css-mqpacker
// https://www.npmjs.com/package/gulp-postcss

// dimensions
$gutter: 20px; // this probably needs a better name

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

// sanity for small screens
.phase-tag-beta {
  float: left;
}

// -- IE8 Hacks
// just to make things look less broken in IE8…
// these are mostly due to lack of respect for media queries
.lte-ie8 {

  #content {
    margin: 0 auto;
  }

  .column-one-third {
    float: left;
    width: 33.33333%;
  }

  .column-two-thirds {
    float: left;
    width: 66.66667%;
  }
}

// Helpers, because GDS
.space {
  margin-bottom: $gutter;
}

.margin20 {
  margin-top: ($gutter * 2);
}

.margin60 {
  margin-top: ($gutter * 4);
}

.reg-step--status-tick {
  margin-top: $gutter;
}

.spacelarge {
  margin-bottom: ($gutter * 2);
}

.spacesummary {
  margin-bottom: ($gutter * 2.5);
}

.link-back,
.nospace {
  margin-bottom: 0;
}

.form-label-bold {
  margin-bottom: .5em;
}

.form-label {
  margin-bottom: .3em;
}

.heading-large {
  display: block;
  margin-bottom: 0;
  margin-top: 0;
}

// information icon override
.declaration {
  background: $grey-4;
  border-bottom: $grey-3 solid 3px;
  margin: 0 -15px;
  padding: $gutter;

  @media screen and (min-width: 641px) {
    margin: 0;
  }

  h2 {
    margin-top: 0;
  }
}

.govuk-box-highlight {
  margin-top: ($gutter * 2);
  padding: $gutter ($gutter * 2);

  .heading-large {
    margin: 0;
  }
}

// start global header things
// grabbed from the service for now

.panel {
  margin-bottom: ($gutter * 2);
}

.form-group .panel {
  margin-bottom: 0;
}

#global-header {
  .header-wrapper .header-global .header-logo .content {
    margin: 0 15px;
  }

  .header-wrapper {
    margin: 0 auto;
    max-width: 990px;
    padding: 0.5em 15px;
  }

  #logo {
    color: #fff;
    float: left;
    font-size: 30px;
    font-weight: bold;
    height: 30px;
    line-height: 1em;
    margin-bottom: -1px;
    overflow: visible;
    padding-bottom: 1px;
    position: relative;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    top: 1px;
    vertical-align: baseline;

    img {
      border: none;
      display: inline;
      float: left;
      height: 31px;
      line-height: inherit;
      padding-right: 6px;
      position: relative;
      top: -2px;
      width: 35px;
    }
  }

  .header-proposition {
    // we only ever have one item in this list: sign-out
    // but it needs to be a list to show/hide on small screens
    #proposition-links {
      float: right;

      @media screen and (max-width: 640px) {
        float: none;
      }

      li {
        padding: 0;
      }

      a {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        line-height: 2;
        text-decoration: none;
      }
    }
  }
}
// end global header things

.statuslist {
  background: $grey-2;
  color: $page-colour;
  padding: 10px;
}

.statusdone {
  background: $turquoise;
  color: $page-colour;
}

.statusdone,
.statuspending {
  // background-color: $grey-4;
  // color: $grey-1;
  padding: ($gutter / 2);

}

.grey45 {
  // background-color: $grey-4;
  // border-bottom: 3px solid $grey-3;
  padding: 0 $gutter;
}

.status-text {

  h2 {
    margin-top: ($gutter / 2);
  }

}

hr {
  margin-bottom: 0;
}

.grid-layout {
  table-layout: fixed;
}

/* -- Progress Step -- */
.progress-steps {
  margin-bottom: 12px;
}

.progress-steps li {
  margin-bottom: 0;
  margin-top: 12px;
}

.progress-steps li:first-child {
  margin-top: 0;
}

.progress-steps__amend li:first-child {
  display: none;
  visibility: hidden;
}

/* -- Progress Step: assets (tick & chevrons) -- */
.progress-step--status,
.no-svg .progress-step--status {
  background-image: url('../images/icons/chevron.svg');
  background-position: 90%;
  background-repeat: no-repeat;
  background-size: 33%;
}

.no-svg .progress-step--status {
  background-image: url('../images/icons/chevron.png');
}

.progress-step__started .progress-step--status,
.progress-step:focus .progress-step--status,
.progress-step:hover .progress-step--status,
.progress-step__started:focus .progress-step--status,
.progress-step__started:hover .progress-step--status,
.progress-steps__amend .progress-step__complete .progress-step--status,
.progress-steps__amend .progress-step__complete:focus .progress-step--status,
.progress-steps__amend .progress-step__complete:hover .progress-step--status {
  background-image: url('../images/icons/chevron-white.svg');
}

.no-svg .progress-step__started .progress-step--status,
.no-svg .progress-step:focus .progress-step--status,
.no-svg .progress-step:hover .progress-step--status,
.no-svg .progress-step__started:focus .progress-step--status,
.no-svg .progress-step__started:hover .progress-step--status {
  background-image: url('../images/icons/chevron-white.png');
}

.no-svg .progress-step--status,
.no-svg .progress-step__started .progress-step--status,
.no-svg .progress-step:focus .progress-step--status,
.no-svg .progress-step:hover .progress-step--status,
.no-svg .progress-step__started:focus .progress-step--status,
.no-svg .progress-step__started:hover .progress-step--status,
.no-svg .progress-step__completed {
  background-repeat: no-repeat;
}

.progress-step__complete .progress-step--status,
.progress-step__complete:focus .progress-step--status,
.progress-step__complete:hover .progress-step--status,
.no-svg .progress-step__complete .progress-step--status {
  background-image: url('../images/icons/tick.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 33%;
}

.no-svg .progress-step__complete .progress-step--status,
.no-svg .progress-step__complete:hover .progress-step--status {
  background-image: url('../images/icons/tick.png');
}

.progress-steps__amend .progress-step__complete .progress-step--status {
  background-position: 90%;
}

/* qualified attribute selector required here, otherwise
   all text colour takes on regular anchor colour  */
a.progress-step {
  background-color: #dee0e2;
  color: #0b0c0c;
  display: block; /* for IE8 */
  display: flex; /* for everything else */
  margin-bottom: 0;
  padding: 0;
  overflow: hidden; /* fix for firefox focus bug */
  position: relative;
  text-decoration: none;
  transition: .25s ease-in;
  transition-property: background-color, outline;
}

/* give the whole step component a focus outline */
.progress-step:focus {
  outline: 3px solid #ffbf47;
}

/* mimic the anchor colours inside this block-level component */
.progress-step__edit {
  color: #005ea5;
}

.progress-step__edit:focus,
.progress-step__edit:hover {
  color: #2e8aca;
}

a.progress-step,
.progress-step--status,
.progress-step--details {
  box-sizing: border-box;
}

/* `display:block` fixes a layout issue in IE & Firefox */
.progress-step--status,
.progress-step--details {
  display: block;
}

/* -- Progress Step: details -- */
.progress-step--details {
  background-color: #f8f8f8;
  border-bottom: 3px solid #dee0e2;
  padding: 5px 10px 15px;
}

.progress-step--details p {
  margin: 0;
  padding-bottom: 10px;
}

/* -- Progress Step: status -- */
.progress-step--status {
  border-bottom: 3px solid #cdcdcd;
  color: #364747;
  padding: 5px 10px;
  position: relative;
  transition: .25s ease-in;
}

.progress-step__started .progress-step--status,
.progress-step:focus .progress-step--status,
.progress-step:hover .progress-step--status,
.progress-step__started:focus .progress-step--status,
.progress-step__started:hover .progress-step--status {
  color: #fff;
}

.progress-step--status-time {
  padding: 15px 0 0;
}

/* -- Progress Step: not started -- */
.progress-step:focus .progress-step--status,
.progress-step:hover .progress-step--status,
.progress-step__started:focus .progress-step--status,
.progress-step__started:hover .progress-step--status,
.progress-steps__amend .progress-step__complete:hover .progress-step--status,
.progress-steps__amend .progress-step__complete:focus .progress-step--status {
  background-color: #006435;
  border-bottom-color: #01552e;
}

/* -- Progress Step: started -- */
.progress-step__started .progress-step--status {
  background-color: #f47738;
  border-bottom-color: #f9641a;
}

.progress-step__started .progress-step--status,
.progress-steps__amend .progress-step .progress-step--status {
  display: flex;
}

.progress-step__started .progress-step--status-time,
.progress-steps__amend .progress-step .progress-step--status-time {
  align-self: center;
  flex: 1;
  padding-bottom: 15px; /* add bottom padding to help centre it for the flex browsers */
}

.progress-step__started .progress-step--status-time .font-xsmall,
.progress-steps__amend .progress-step .progress-step--status-time .font-xsmall {
  margin: 0;
}

/* -- Progress Step: completed -- */
.progress-step__complete .progress-step--status,
.progress-step__complete:focus .progress-step--status,
.progress-step__complete:hover .progress-step--status {
  background-color: #28a197;
  border-bottom-color: #088277;
  color: #fff;
}

/* -- Progress Step: amended -- */
.progress-steps__amend .progress-step__complete .progress-step--status {
  background-color: #28a197;
  border-bottom-color: #088277;
}

@media screen and (max-width: 480px) {
  .progress-step--status,
  .no-svg .progress-step--status {
    background-position: 90% 90%;
  }
}

@media screen and (max-width: 640px) {

  .progress-step {
    margin: 0 -0.78947em 12px;
  }

  .progress-step .column-one-third {
    float: left;
    width: 33.33333%;
  }

  .progress-step .column-two-thirds {
    float: left;
    width: 66.66667%;
  }

  .progress-step--status {
    background-size: 20%;
  }
}

@media screen and (min-width: 641px) and (max-width: 767px) {
  .progress-step--status {
    background-position: 90% 90%;
    background-size: 25%;
  }
}

/* -- TODO: fix this – IE10+ needs a chevron kick
@media all and
  (-ms-high-contrast: none) and (max-width: 640px),
  (-ms-high-contrast: active) and (max-width: 640px) {
  .progress-step--status {
    background-position: 90%;
  }
} */

@media all and
  (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
  /* IE10+ hacks here */
  .progress-step--status {
    background-position: 140%;
    background-size: 66%;
  }
  .progress-step--status__completed {
    background-position: 50%;
    background-size: 50%;
  }
}

/* Having to specify these widths for IE8 until a better fix appears.
   We can get away with this because IE8 isn't responsive */
.lte-ie8 .progress-step:before,
.lte-ie8 .progress-step:after {
  content: '';
  display: table;
}

.lte-ie8 .progress-step:after {
  clear: both;
}

.lte-ie8 .progress-step {
  *zoom: 1;
}

.lte-ie8 .progress-step--status {
  width: 202px;
}

.lte-ie8 .progress-step--details,
.lte-ie8 .progress-step--status,
.lte-ie8 .progress-step--status__started {
  min-height: 136px;
}

.lte-ie8 .progress-step__complete .progress-step--status,
.lte-ie8 .progress-step__complete .progress-step--details {
  min-height: 90px;
}

.lte-ie8 .progress-step--details {
  width: 427px;
}

.lte-ie8 .progress-step--status,
.lte-ie8 .progress-step--details {
  float: left;
}

.check-your-answers li,
.check-your-answers--header,
.check-your-answers--footer,
.check-your-answers--amend li {
  border-bottom: 1px solid #bfc1c3;
  padding: 0;
}

.check-your-answers h2,
.check-your-answers li,
.check-your-answers--amend li {
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 0;
}

.check-your-answers h2,
.check-your-answers--amend li {
  padding: .73684em 1.05263em .52632em 0;
}

.check-your-answers h2 a {
  color: #0b0c0c;
  display: flex;
  text-decoration: none;
}

.check-your-answers {
  border-bottom: 1px solid #bfc1c3;
  margin-bottom: 20px;
  padding: 0;
}

// class for older browsers
.check-your-answers__last,
.check-your-answers:last-of-type {
  border: 0;
}

.check-your-answers li {
  border-bottom: 0;
}

.check-your-answers__footer {
  padding: 0;
  text-align: right;
  vertical-align: middle;
}

.check-your-answers p,
.check-your-answers--list li,
.check-your-answers--header .heading-xsmall {
  font-size: 19px;
}

.check-your-answers--list {
  margin-bottom: 1.25em;
}

.check-your-answers--list li {
  padding-bottom: 0;
}

.check-your-answers .edit {
  color: #005ea5;
  font-weight: normal;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

@media screen and (max-width: 640px) {
  .check-your-answers .grid-layout--stacked .grid-layout__column {
    display: table-cell;
  }

  .check-your-answers p,
  .check-your-answers .edit,
  .check-your-answers--list li,
  .check-your-answers--header .heading-xsmall {
    font-size: 14px;
  }
}

.list--comma li,
.list--inline li {
  display: inline-block;
  padding-right: 0;
}

.lte-ie8 .list--comma li,
.lte-ie8 .list--inline li {
  display: list-item;
}

.list--comma li::after {
  content: ', ';
}

.list--comma li:last-child::after {
  content: '';
}

.check-your-answers--amend .list--inline {
  text-align: right;
}

.check-your-answers--amend p,
.check-your-answers__footer p {
  padding: 0;
}

.check-your-answers--amend_links {
  text-align: right;
}

.page-header {
  clear: both;
  display: table;
  margin-top: 1.8em;
}

.page-header .heading-xlarge {
  margin: .15em 0 1.25em;
}

.page-header .heading-secondary {
  display: table-header-group;
  margin-bottom: 0;
  color: #6f777b;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.11111;
  text-transform: none;
}

@media screen and (min-width: 641px) {
  .page-header .heading-secondary {
    font-size: 27px;
    line-height: 1.11111;
    padding-bottom: 6px;
    padding-top: 4px;
  }
}




/* -- // Amend application progress page -- */

// we want the number *inside* the list element here
.status-list {
  padding-left: 0;

  li {
    line-height: 1.25;
    list-style-position: inside;
    padding: 18px 55px 10px 10px;
    position: relative;
  }
}

.status-list--icon {
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 35px;

  .status-list--complete & {
    // tick
    background: url('../images/icons/tick.svg') no-repeat;
    background-size: 100%;
  }
}

.status-list--upcoming {
  background: $grey-2;
  color: $page-colour;
}

.status-list--pending {
  //
}

.status-list--complete {
  background-color: $turquoise;
  color: $page-colour;
}

.status-list--start {
  border-top: 3px solid $grey-2;
}

.status-list--end {
  border-bottom: 3px solid $grey-2;
}

.temp-links {
  margin-top: 300px;
}

.align-right {
  text-align: right;
}

/* -- What you need: column source order is different on this page -- */
.what-you-need > .column-one-third {
  float: right;
}

.what-you-need > .column-two-thirds {
  float: left;
}

@media screen and (max-width: 640px) {
  .what-you-need > .column-one-third {
    margin: 0 15px 15px;
  }

  .declaration p {
    margin: 0;
  }
}


.fee-reference {
 margin-bottom: $gutter;
}

.fee-reference dd+dt {
  margin-top: $gutter/2;
}


/* Research phase banner */
/* Need all of this as there is no phase-banner on its own in the style sheet */
.phase-banner-research {
  padding: 10px 0 8px 0;
  border-bottom: 1px solid #bfc1c3; }
  @media (min-width: 641px) {
    .phase-banner-research {
      padding-bottom: 10px; } }
  .phase-banner-research p {
    margin: 0;
    color: #000;
    font-family: "nta", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.14286;
    font-weight: 400;
    text-transform: none; }
    @media (min-width: 641px) {
      .phase-banner-research p {
        font-size: 16px;
        line-height: 1.25; } }
  .phase-banner-research .phase-tag {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    font-family: "nta", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.14286;
    font-weight: 700;
    text-transform: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #f47738; }
    @media (min-width: 641px) {
      .phase-banner-research .phase-tag {
        vertical-align: baseline; } }
    @media (min-width: 641px) {
      .phase-banner-research .phase-tag {
        font-size: 16px;
        line-height: 1.25; } }
  .phase-banner-research span {
    vertical-align: top; }
    @media (min-width: 641px) {
      .phase-banner-research span {
        vertical-align: baseline; } }


.phase-banner-research {
  padding: 10px 0 8px 0;
  border-bottom: 1px solid #bfc1c3; }
  @media (min-width: 641px) {
    .phase-banner-research {
      padding-bottom: 10px; } }
  .phase-banner-research p {
    margin: 0;
    color: #000;
    font-family: "nta", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.14286;
    font-weight: 400;
    text-transform: none; }
    @media (min-width: 641px) {
      .phase-banner-research p {
        font-size: 16px;
        line-height: 1.25; } }
  .phase-banner-research .phase-tag {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    font-family: "nta", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.14286;
    font-weight: 700;
    text-transform: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #f47738; }
    @media (min-width: 641px) {
      .phase-banner-research .phase-tag {
        vertical-align: baseline; } }
    @media (min-width: 641px) {
      .phase-banner-research .phase-tag {
        font-size: 16px;
        line-height: 1.25; } }
  .phase-banner-research span {
    vertical-align: top; }
    @media (min-width: 641px) {
      .phase-banner-research span {
        vertical-align: baseline; } }

.phase-tag-research {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 700;
  text-transform: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #000; }
  @media (min-width: 641px) {
    .phase-tag-research {
      vertical-align: baseline; } }
  @media (min-width: 641px) {
    .phase-tag-research {
      font-size: 16px;
      line-height: 1.25; } }
