{% extends "layout.html" %}

{% block page_title %}
   Does your business have written guidance for staff on how to identify and report suspicious activity? - Business activities - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           <!-- {% include "includes/back.html" %} -->

            <header class="page-header">
                <h1 class="heading-xlarge">Does your business have written guidance for staff on how to identify and report suspicious activity?</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Business activities</p>
            </header>

            <form class="form" role="form">

                <fieldset class="inline">

                    <legend class="visuallyhidden">Does your business have written guidance for staff on how to identify and report suspicious activity?</legend>

                    <div class="form-group">
                        <label class="block-label" for="radio-inline-1">
                            <input id="radio-inline-1" type="radio" name="radio-inline-group1" value="Yes">Yes
                        </label>
                        <label class="block-label" for="radio-inline-2">
                            <input id="radio-inline-2" type="radio" name="radio-inline-group1" value="No">No
                        </label>
                    </div>

                </fieldset>

                <a href="crime-agency" class="button">Save and continue</a>

            </form>

        </div><!-- /of main column -->
    </div><!-- / of grid-row -->
</main>
{% endblock %}