        </div>
    </div>
</main>
{% endblock %}

{% block page_title %}
  Your answers - Business activities - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           <!-- {% include "includes/back.html" %} -->

            <header class="page-header">
                <h1 class="heading-xlarge">Your answers</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Business activities</p>
            </header>

            <section class="check-your-answers">
                <h2 class="heading-small">Does your business do anything else?</h2>
                <p><span class="visuallyhidden">Answer: </span>No</p>
                <footer class="group">
                    <p><a href="confirm-activities" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Does your business do anything else?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">How much net profit do you expect in the next 12 months?</h2>
                <p><span class="visuallyhidden">Answer: </span>&pound;2 to &pound;10</p>
                <footer class="group">
                    <p><a href="business-turnover" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;How much net profit do you expect in the next 12 months?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">How much net profit do you expect in the next 12 months, from these activities?</h2>
                <p><span class="visuallyhidden">Answer: </span>&pound;250k to &pound;1m</p>
                <footer class="group">
                    <p><a href="turnover" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;How much net profit do you expect in the next 12 months, from these activities?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Is your business a franchise?</h2>
                <p><span class="visuallyhidden">Answer: </span>No</p>
                <footer class="group">
                    <p><a href="franchise" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Is your business a franchise?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Employees</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list">
                    <li>64</li>
                    <li>6 directly involved in MLR activities</li>
                </ul>
                <footer class="group">
                    <p><a href="CORRECT_URL" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Employees&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Do you have customers who live outside of the UK?</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list list--comma">
                    <li>France</li>
                    <li>Germany</li>
                    <li>Norway</li>
                    <li>Sweden</li>
                </ul>
                <footer class="group">
                    <p><a href="employment" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Do you have customers who live outside of the UK?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Do you keep records of all your transactions with customers?</h2>
                <p><span class="visuallyhidden">Answer: </span>Spreadsheet</p>
                <footer class="group">
                    <p><a href="records" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Do you keep records of all your transactions with customers?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Does your business have written guidance for staff on how to identify and report suspicious activity?</h2>
                <p><span class="visuallyhidden">Answer: </span>Yes</p>
                <footer class="group">
                    <p><a href="procedures" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Does your business have written guidance for staff on how to identify and report suspicious activity?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Has your business registered online with the National Crime Agency?</h2>
                <p><span class="visuallyhidden">Answer: </span>Yes</p>
                <footer class="group">
                    <p><a href="crime-agency" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Has your business registered online with the National Crime Agency?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Does your business have a formal risk assessment policy and procedure?</h2>
                <p><span class="visuallyhidden">Answer: </span>Yes</p>
                <footer class="group">
                    <p><a href="risk-assessment" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Does your business have a formal risk assessment policy and procedure?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Does your business use an external accountant or financial advisor?</h2>
                <p><span class="visuallyhidden">Answer: </span>Yes</p>
                <footer class="group">
                    <p><a href="accountant" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Does your business use an external accountant or financial advisor?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Who is your accountant?</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list">
                    <li>James Bell</li>
                    <li>Bookkeepers Limited</li>
                    <li>Clavering House<br />Clavering Place<br />Newcastle<br />NE1 3GN</li>
                </ul>
                <footer class="group">
                    <p><a href="accountant-details" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Who is your accountant?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Does this accountant also deal with HMRC on behalf of your business, for tax-related matters?</h2>
                <p><span class="visuallyhidden">Answer: </span>HMRC Agent Reference Number: 0123456789</p>
                <footer class="group">
                    <p><a href="tax-matters" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Does this accountant also deal with HMRC on behalf of your business, for tax-related matters?&#8221;</span></a></p>
                </footer>
            </section>

            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Confirm and continue">
                </div>
            </form>

            <p><a href="#">Print this page</a></p>

        </div>
    </div>
</main>
{% endblock %}
