

{% extends "layout.html" %}

{% block page_title %}
  Your answers - Trading premises - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="page-header--lede heading-xlarge">Your answers</h1>
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is: </span>Trading premises</p>
            </header>

            <div class="panel panel-border-wide spacelarge">
                <p><a href="premises">Add a trading premise</a></p>
            </div>

            <div class="group check-your-answers check-your-answers--amend">
                <p class="column-two-thirds"><span class="visuallyhidden">You have registered </span>ACME Limited, B3285, Perranporth, Cornwall TR6 0BU</p>
                <footer class="column-one-third check-your-answers__footer">
                    <p><a href="trading-premise-details">Edit<span class="visuallyhidden"> the details for ACME Limited</span></a> or <a href="remove">Remove<span class="visuallyhidden"> ACME Limited from your trading premises</span></a>
                    </p>
                </footer>
            </div>

            <div class="group check-your-answers check-your-answers--amend">
                <p class="column-two-thirds"><span class="visuallyhidden">You have registered </span>4 Roundhill Pl, Queensbury, Bradford, West Yorkshire BD13 1HJ</p>
                <footer class="column-one-third check-your-answers__footer">
                    <p><a href="trading-premise-details">Edit<span class="visuallyhidden"> the details for 4 Roundhill Pl, Queensbury</span></a> or <a href="remove">Remove<span class="visuallyhidden"> 4 Roundhill Pl, Queensbury from your trading premises</span></a></p>
                </footer>
            </div>

            <div class="group check-your-answers check-your-answers--amend">
                <p class="column-two-thirds"><span class="visuallyhidden">You have registered </span>29 New Rd, Ilford, Greater London IG3 8AU</p>
                <footer class="column-one-third check-your-answers__footer">
                    <p><a href="trading-premise-details">Edit<span class="visuallyhidden"> the details for 29 New Rd, Ilford</span></a> or <a href="remove">Remove<span class="visuallyhidden"> 29 New Rd, Ilford from your trading premises</span></a></p>
                </footer>
            </div>

            <div class="group check-your-answers check-your-answers--amend">
                <p class="column-two-thirds"><span class="visuallyhidden">You have registered </span>A487, Fishguard, Pembrokeshire SA65</p>
                <footer class="column-one-third check-your-answers__footer">
                    <p><a href="trading-premise-details">Edit<span class="visuallyhidden"> the details for A487, Fishguard</span></a> or <a href="remove">Remove<span class="visuallyhidden"> A487, Fishguard from your trading premises</span></a></p>
                </footer>
            </div>

            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Accept and complete section">
                </div>
            </form>

            <p><a href="#">Print this page</a></p>

        </div>
    </div>
</main>
{% endblock %}
