
{{<layout}}

{{$pageTitle}}
  You have submitted the application - Registration - Anti-money laundering registration - GOV.UK
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="govuk-box-highlight spacelarge">
                <h1 class="heading-large">You&#8217;ve submitted your application</h1>
            </div>

            <p class="spacelarge">You now need to pay the registration fee. Your application won’t be reviewed by HM Revenue and Customs until the fee is paid.</p>

            <!-- This is not needed once we have the caching option in place -->
            <!-- <div class="notice spacelarge">
                <i class="icon icon-important"><span class="visuallyhidden">Warning</span></i>
                <strong class="bold-small">You must make a note of this reference number and registration fee. You will need them to make the payment.</strong>
            </div> -->

            <div class="panel panel-border-wide spacelarge">
                <div class="grid-row">
                    <div class="column-one-third">
                        <h2>Your fee</h2>
                        <p class="heading-large">&pound;300</p>
                    </div>
                    <div class="column-two-thirds">
                        <h2>Your reference</h2>
                        <p class="heading-large">XAAM00000123456</p>
                    </div>
                </div>
            </div>

             <details class="spacelarge">
                <summary><span class="summary">How your fee has been calculated</span></summary>
                <table class="spacelarge">
                    <thead>
                        <th></th>
                        <th width="15%" class="numeric">Quantity</th>
                        <th width="20%" class="numeric">Fee per item</th>
                        <th width="20%" class="numeric">Total</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Application submission</td>
                            <td class="numeric">1</td>
                            <td class="numeric">&pound;100</td>
                            <td class="numeric">&pound;100</td>
                        </tr>
                        <tr>
                            <td>Trading premises</td>
                            <td class="numeric">1</td>
                            <td class="numeric">&pound;100</td>
                            <td class="numeric">&pound;100</td>
                        </tr>
                        <tr>
                            <td>Responsible people</td>
                            <td class="numeric">2</td>
                            <td class="numeric">&pound;100</td>
                            <td class="numeric">&pound;200</td>
                        </tr>
                        <tr>
                            <td>Responsible people who have already passed the Fit and Proper test</td>
                            <td class="numeric">1</td>
                            <td class="numeric">-&pound;100</td>
                            <td class="numeric">-&pound;100</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3">Total</th>
                            <td class="numeric">&pound;300</td>
                        </tr>
                    </tfoot>
                </table>

            </details>

            <p class="spacelarge"><a href="payment-option" class="button">Pay registration fee</a></p>

        </div>
    </div>


{{/main}}
{{/layout}}