{% extends "layout.html" %}

{% block page_title %}
    What do you need to register? - Pre-application - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}


            <header class="page-header">
                <h1 class="heading-xlarge">What do you need to register?</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Pre-application</p>
            </header>

            <form class="form" method="post">
                <fieldset>
                    <legend class="visuallyhidden"> Which activities do you need to register for?</legend>
                    <p">Select all that apply</p>

                    <div class="form-group">

                        <label class="block-label" for="asp">
                            <input id="asp" type="checkbox" name="activities" value="0">Accountancy services
                        </label>

                        <label class="block-label" for="bps">
                            <input id="bps" type="checkbox" name="activities" value="">Bill payment services
                        </label>

                        <label class="block-label" for="eab">
                            <input id="eab" type="checkbox" name="activities" value="1">Estate agent business
                        </label>

                        <label class="block-label" for="hvd">
                            <input id="hvd" type="checkbox" name="activities" value="2">High value dealing
                        </label>

                        <label class="block-label" for="msb">
                            <input id="msb" type="checkbox" name="activities" value="3">Money service business
                        </label>

                        <label class="block-label" for="tcsp">
                            <input id="tcsp" type="checkbox" name="activities" value="4">Trust or company services
                        </label>

                        <label class="block-label" for="tdit">
                            <input id="tdit" type="checkbox" name="activities" value="">Telephone, digital and IT payment services
                        </label>
                    </div>
                </fieldset>

                <div class="form-group">
                    <details>
                        <summary><span class="summary">More information about these categories</span></summary>
                        <div class="panel panel-border-narrow">
                            <p>&#8216;<a href="https://www.gov.uk/guidance/money-laundering-regulations-accountancy-service-provider-registration">Accountancy Service Providers</a>&#8217; provide professional bookkeeping services, accounts preparation and signing, or tax advice.</p>
                            <p>&#8216;<a href="https://www.gov.uk/guidance/registration-guide-for-estate-agency-businesses">Estate Agent Businesses</a>&#8217; introduce people who want to buy or sell property, and facilitate the purchase or sale of property.</p>
                            <p>&#8216;<a href="https://www.gov.uk/guidance/money-laundering-regulations-high-value-dealer-registration">High Value Dealers</a>&#8217; accept cash payments of €15,000 or more (or equivalent in any currency) in exchange for goods. Estate agents aren&#8217;t classed as High Value Dealers.</p>
                            <p>&#8216;<a href="https://www.gov.uk/guidance/money-laundering-regulations-money-service-business-registration">Money Service Businesses</a>&#8217; exchange currency, transmit money, or cash cheques for their customers.</p>
                            <p>&#8216;<a href="https://www.gov.uk/guidance/money-laundering-regulations-trust-or-company-service-provider-registration">Trust or Company Service Providers</a>&#8217; form companies. They also provide other services such as acting - or arranging for another person to act - in a certain role within a company.</p>
                        </div>
                    </details>
                </div>


                <input type="submit" class="button" value="Save and continue">

            </form>

        </div>
    </div>
</main>
{% endblock %}