{% extends "layout.html" %}

{% block page_title %}
    What&#8217;s your type of business? - Pre-application - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="heading-xlarge">What&#8217;s your type of business?</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Pre-application</p>
            </header>

            <form method="post">
                <fieldset>

                    <legend class="visuallyhidden">What&#8217;s your type of business?</legend>

                    <div class="form-group">
                        <label class="form-label" for="type_business">Type of business
                            <span class="form-hint">For example: association, charity, trust</span>
                        </label>
                        <input class="form-control" id="type_business" type="text" name="type_business" value="">
                    </div>

                </fieldset>

                <a href="activities" class="button" type="submit" >Save and continue</a>

            </form>

        </div>
    </div>
</main>
{% endblock %}