
{% extends "layout.html" %}

{% block page_title %}
  When will your business start activities that need to be registered for anti-money laundering supervision? - About the business - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="heading-xlarge">When will your business start activities that need to be registered for anti-money laundering supervision?</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>About the business</p>
            </header>

            <form action="vat" method="get" class="form">

                <fieldset class="inline">
                    <legend class="visuallyhidden">When will your business start activities that need to be registered for anti-money laundering supervision?</legend>

                    <div class="form-group" >
                        <div class="form-date" >
                            <p>If your business is already involved in these activities, give the date it started.
                                <span class="form-hint">For example, 31 3 2017</span>
                            </p>
                            <div class="form-group form-group-day">
                                <label for="dob-day">Day</label>
                                <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                            </div>
                            <div class="form-group form-group-month">
                                <label for="dob-month">Month</label>
                                <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                            </div>
                            <div class="form-group form-group-year">
                                <label for="dob-year">Year</label>
                                <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="2014" max="2016">
                            </div>
                        </div>
                    </div>

                </fieldset>

                <input type="submit" class="button" value="Save and continue">

            </form>

        </div><!-- /of main column -->
    </div><!-- / of grid-row -->
</main>
{% endblock %}