
{% extends "layout.html" %}

{% block page_title %}
  Is this your registered office? - About the business - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="heading-xlarge">Is this your registered office?</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>About the business</p>
            </header>

            <div class="panel panel-border-wide">
                {% include "includes/business-address.html" %}
            </div>

            <form action="contacting-you" method="get" class="form">
                <fieldset class="inline">

                    <legend class="visuallyhidden">Is this your registered office or main place of business?</legend>

                    <div class="form-group">
                        <label class="block-label" for="radio-inline-2-1">
                            <input id="radio-inline-2-1" type="radio" name="registered" value="yes">Yes
                        </label>
                        <label class="block-label" for="radio-inline-2-3">
                            <input id="radio-inline-2-3" type="radio" name="registered" value="false">No
                        </label>
                    </div>

                </fieldset>

                <input type="submit" class="button" value="Save and continue">

            </form>

        </div><!-- /of main column -->
    </div><!-- / of grid-row -->
</main>
{% endblock %}