{% extends "layout.html" %}

{% block page_title %}
  What you need - About the business - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="heading-xlarge">What you need</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>About the business</p>
            </header>

        </div>
    </div>

    <div class="grid-row what-you-need">

        <div class="column-one-third">
             {% include "includes/save-message.html" %}
        </div>

        <div class="column-two-thirds">

            <p class="heading-small">For this section you may need:</p>
            <ul class="list list-bullet">
                <li>your Money Laundering Regulations registration number</li>
                <li>the date your business will start activities that need to be supervised</li>
                <li>your VAT registration number</li>
                <li>your Corporation Tax reference number</li>
            </ul>

            <p class="heading-small">You&#8217;ll also need your:</p>
            <ul class="list list-bullet">
                <li>registered office or main place of business address</li>
                <li>email address</li>
                <li>phone number</li>
                <li>postal address</li>
            </ul>

            <a href="registered" class="button" role="button">Continue</a>


        </div>
    </div>
</main>
{% endblock %}