
{% extends "layout.html" %}

{% block page_title %}
Your answers - About the business - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="heading-xlarge">Your answers</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>About the business</p>
            </header>

            <section class="check-your-answers">
                <h2 class="heading-small">Money Laundering Regulations registration number</h2>
                <p><span class="visuallyhidden">Answer: </span>8765 4321</p>
                <footer class="group">
                    <p><a href="registered" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Money Laundering Regulations registration number&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">VAT registration number</h2>
                <p><span class="visuallyhidden">Answer: </span>2468 1357 90</p>
                <footer class="group">
                    <p><a href="vat" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;VAT registration number&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Corporation Tax number</h2>
                <p><span class="visuallyhidden">Answer: </span>UTR: 2468 1357 90</p>
                <footer class="group">
                    <p><a href="corporation-tax" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Corporation Tax number&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Registered office</h2>
                <p><span class="visuallyhidden">Answer: </span>{% include "includes/business-address.html" %}</p>
                <footer class="group">
                    <p><a href="confirming-address" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Registered office&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Phone number</h2>
                <p><span class="visuallyhidden">Answer: </span>0191 234 5678</p>
                <footer class="group">
                    <p><a href="contacting-you" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Phone number&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Email address</h2>
                <p><span class="visuallyhidden">Answer: </span>info@acme.com</p>
                <footer class="group">
                    <p><a href="contacting-you" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Email address&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Postal address</h2>
                <p><span class="visuallyhidden">Answer: </span>{% include "includes/business-address.html" %}</p>
                <footer class="group">
                    <p><a href="contacting-you" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Postal address&#8221;</span></a></p>
                </footer>
            </section>

            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Confirm and continue">
                </div>
            </form>

            <p><a href="#">Print this page</a></p>
    </div>
    </div>
</main>
{% endblock %}