        </div>
    </div>
</main>
{% endblock %}

{% block page_title %}
  Responsible person registered - Responsible people - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           <!-- {% include "includes/back.html" %} -->

            <header class="page-header">
                <h1 class="heading-xlarge">Responsible person registered</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Responsible people</p>
            </header>

            <div class="panel panel-border-wide spacelarge">
                <p>You have registered 3 responsible people.</p>
            </div>

            <form method="post">

                <fieldset class="inline">
                    <legend class="form-label">Do you want to register another responsible person?</legend>
                    <div class="form-group">
                        <label class="block-label" data-target="sortcode" for="radio-indent-1">
                            <input id="radio-indent-1" type="radio" name="next-page" value="your-name">Yes
                        </label>
                        <label class="block-label" data-target="iban" for="radio-indent-2">
                            <input id="radio-indent-2" type="radio" name="next-page" value="check-your-answers">No
                        </label>
                    </div>
                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>
        </div>
    </div>
</main>
{% endblock %}
