{{<layout}}

{{$pageTitle}}
  Where do you expect to send the most transactions? - Money service business - Anti-money laundering registration - GOV.UK
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}

            <header class="page-header">
                <h1 class="heading-xlarge">Where do you expect to send the most transactions?</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Money service business</p>
            </header>

            <form class="form" method="post">

                <input type="hidden" name="next-page" value="currency">
                <span class="form-hint">List up to 3 countries</span>
                <div class="form-group">
                    <label for="country1" class="visuallyhidden">Where do you expect to send the most transactions?</label>
                    <input type="text" class="form-control" id="country1">
                </div>
                <div class="form-group">
                    <label for="country1" class="form-label"></label>
                    <input type="text" class="form-control" id="country1">
                </div>
                <div class="form-group">
                    <label for="country1" class="form-label"></label>
                    <input type="text" class="form-control" id="country1">
                </div>
                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>

        </div>
    </div>

{{/main}}
{{/layout}}
