        </div>
    </div>
</main>
{% endblock %}

{% block page_title %}
  Does your business use an Intermediary Payment Service Provider (IPSP)? - Money service business - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="heading-xlarge">Does your business use an Intermediary Payment Service Provider (IPSP)?</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Money service business</p>
            </header>

            <form class="form" method="post">

                <input type="hidden" name="next-page" value="funds-transfer">

                <div class="form-group">
                    <fieldset class="inline">
                        <legend class="visuallyhidden">Does your business use an Intermediary Payment Service Provider?</legend>
                        <span class="form-hint">An IPSP is involved in the transfer of funds, but isn't the Payment Service Provider for the payer or the payee.</span>
                        <label class="block-label" for="radio-inline-5" data-target="IPSP">
                            <input id="radio-inline-5" type="radio" name="radio-inline-group-3" value="Yes">Yes
                        </label>
                        <label class="block-label" for="radio-inline-6">
                            <input id="radio-inline-6" type="radio" name="radio-inline-group-3" value="No">No
                        </label>
                    </fieldset>

                    <div class="panel panel-indent js-hidden" id="IPSP">
                        <div class="form-group">
                            <label class="form-label" for="specify">IPSP's name</label>
                            <input type="text" name="" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="specify">IPSP's Money Laundering Regulations registration number
                                <span class="form-hint">This will be an 8 or 15-digit number.</span>
                            </label>
                            <input type="text" name="" class="form-control" value="">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>

        </div>
    </div>
</main>
{% endblock %}
