

{% extends "layout.html" %}

{% block page_title %}
   Which services does your business provide? - Money service business - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

        <header class="page-header">
            <h1 class="heading-xlarge">Which services does your business provide?</h1>
            <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Money service business</p>
        </header>

        <p>Select all that apply</p>

        <form class="form" method="post">

            <input type="hidden" name="next-page" value="anticipated-totals">

            <fieldset>
                <div class="form-group">
                    <legend class="visuallyhidden">Which services does your business provide?</legend>
                    <label class="block-label" for="money">
                        <input id="money" type="checkbox" name="radio-group">Transmitting money
                    </label>
                    <label class="block-label" for="currency">
                        <input id="currency" type="checkbox" name="radio-group">Currency exchange
                    </label>
                    <label class="block-label" for="cash">
                        <input id="cash" type="checkbox" name="radio-group">Cheque cashing (all businesses except scrap metal dealers)
                    </label>
                    <label class="block-label" for="scrap">
                        <input id="scrap" type="checkbox" name="radio-group">Cheque cashing (scrap metal dealers)
                    </label>
                </div>
            </fieldset>

            <div class="form-group">
                <input type="submit" class="button" value="Save and continue">
            </div>

        </form>

        </div>
    </div>
</main>
{% endblock %}
