

{% extends "layout.html" %}

{% block page_title %}
   What you need - Money service business - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="heading-xlarge">What you need</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Money service business</p>
            </header>

        </div>
    </div>

    <div class="grid-row what-you-need">

        <div class="column-one-third">
            {% include "includes/save-message.html" %}
        </div>

        <div class="column-two-thirds">

            <p class="heading-small">For this section you may need to know:</p>

             <ul class="list list-bullet">
                <li>which countries your branches or agents operate in</li>
                <li>your Intermediary Payment Service Provider’s name</li>
                <li>your Intermediary Payment Service Provider’s HM Revenue and Customs registration number</li>
                <li>where you expect to send the largest amounts of money</li>
                <li>where you expect to send the greatest number of money transfers</li>
            </ul>

            <p class="heading-small">You'll also need to know:</p>

            <ul class="list list-bullet">

                <li>how much throughput you expect in the next 12 months</li>
                <li>how many transactions you expect in the next 12 months</li>
                <li>if your systems can identify linked payments</li>
                <li>if you transfer money without using formal banking systems</li>
                <li>how many transactions you expect in the next 12 months</li>
                <li>which currencies you expect to be most popular with customers</li>
                <li>who will supply your foreign currency</li>
            </ul>

            <a href="services" class="button" role="button">Continue <span class="visuallyhidden"> Money service business</span></a>

        </div>
    </div>
</main>
{% endblock %}
