{{<layout}}

{{$pageTitle}}
  Does this professional advisor also manage your tax affairs with HM Revenue and Customs (HMRC)? - Business activities - Anti-money laundering registration - GOV.UK
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}

            <header class="page-header">
                <h1 class="heading-xlarge">Does this professional advisor also manage your tax affairs with HM Revenue and Customs (HMRC)?</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Business activities</p>
            </header>

            <form method="post">
                <input type="hidden" name="next-page" value="check-your-answers">

                <fieldset class="inline">
                    <legend class="visuallyhidden">Does this professional advisor also manage your tax affairs with HM Revenue and Customs (HMRC)?</legend>
                    <div class="form-group">
                        <label class="block-label" for="yes" data-target="no-activity">
                            <input id="yes" type="radio" name="radio-1" value="Yes">Yes
                        </label>
                        <label class="block-label">
                            <input id="no" type="radio" name="radio-1" value="No">No
                        </label>
                    </div>
                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>
            </form>

        </div>
    </div>

{{/main}}
{{/layout}}
