
{% extends "layout.html" %}

{% block page_title %}
  You&#8217;ve submitted updated information - Update information - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">



            <div class="govuk-box-highlight spacelarge">
                <h1 class="heading-large">You&#8217;ve submitted your updated information</h1>
            </div>

            <!-- <p class="spacelarge">You have changed your application. Because you have added more [trading premises / responsible people] you need to pay an additional fee.</p> -->

            <p>There are no fees to pay for these changes.</p>
            <p>You still need to pay any previous fees, if you&#8217;ve not paid them already.</p>

            <!-- This is not needed once we have the caching option in place -->
            <!-- <div class="notice spacelarge">
                <i class="icon icon-important"><span class="visuallyhidden">Warning</span></i>
                <strong class="bold-small">You must make a note of this reference number.</strong>
            </div> -->


            <div class="panel panel-border-wide spacelarge">
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <h2>Your reference</h2>
                        <p class="heading-large">XAAM00000783984</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
{% endblock %}