{% extends "layout.html" %}

{% block page_title %}
    Application withdrawn - Your application - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}
            <header class="page-header">
                <h1 class="heading-xlarge">Application withdrawn</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Your registration</p>
            </header>
        </div>
    </div>

    <div class="grid-row spacelarge">
        <div class="column-two-thirds">
            <div class="panel panel-border-wide">
                <p><span class="heading-small">Your business:</span>
                    <br />Ubunchews Accountancy Services</span>
                </p>
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds status-text">
            <p>Your application has been withdrawn, and your business is not registered with HM Revenue and Customs for anti-money laundering supervision.</p>
            <div class="form-group">
                <a href="../pre-application/confirm-am" class="button" type="submit">Submit new application</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}