{{<layout}}

{{$pageTitle}}
  Is your business registered for VAT in the UK? - About the business - Anti-money laundering registration - GOV.UK
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}

            <header class="page-header">
                <h1 class="heading-xlarge">Is your business registered for VAT in the UK?</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>About the business</p>
            </header>

            <form method="post">
                <input type="hidden" name="next-page" value="corporation-tax">

                <fieldset class="inline">

                    <legend class="visuallyhidden">Is your business registered for VAT?</legend>

                    <div class="form-group">
                        <label class="block-label" for="radio-inline-2-1" data-target="vat">
                            <input id="radio-inline-2-1" type="radio" name="radio-inline-group-2" value="Yes">Yes
                        </label>
                        <label class="block-label" for="radio-inline-2-2">
                            <input id="radio-inline-2-2" type="radio" name="radio-inline-group-2" value="No">No
                        </label>

                        <div class="panel panel-border-narrow js-hidden" id="vat">
                            <label class="form-label" for="vat_number">VAT registration number
                                <span class="form-hint">For example: 123456789</span>
                            </label>
                            <input class="form-control" name="vat_number" type="text" id="vat_number" />
                        </div>
                    </div>

                </fieldset>

                <input type="submit" class="button" value="Save and continue">

            </form>

        </div>
    </div>

{{/main}}
{{/layout}}