

{% extends "layout.html" %}

{% block page_title %}
  Check your answers – Business activities - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="page-header--lede heading-xlarge">Check your answers</h1>
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is: </span>Business activities</p>
            </header>

            <section class="check-your-answers">
                <h2 class="heading-small">Is your business involved in any other activities, which are not covered by Money Laundering Regulations?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>No</p>
                <footer class="group">
                    <p><a href="confirm-activities" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Is your business involved in any other activities, which are not covered by Money Laundering Regulations?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">How much net profit do you expect in the next 12 months?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>&pound;100,000 to &pound;250,000</p>
                <footer class="group">
                    <p><a href="business-turnover" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;How much net profit do you expect in the next 12 months?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">How much net profit do you expect in the next 12 months, from these activities?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>&pound;15,000 to &pound;49,999</p>
                <footer class="group">
                    <p><a href="turnover" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;How much net profit do you expect in the next 12 months, from these activities?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Is your business a franchise?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>No</p>
                <footer class="group">
                    <p><a href="franchise" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Is your business a franchise?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Approximately how many people does your business employ?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>50</p>
                <footer class="group">
                    <p><a href="employees" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Approximately how many people does your business employ?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Approximately how many people work on activities covered by Money Laundering Regulations?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>10</p>
                <footer class="group">
                    <p><a href="employees" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Approximately how many people work on activities covered by Money Laundering Regulations?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Do you have customers who live or work outside of the UK?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>Yes</p>
                <footer class="group">
                    <p><a href="employment" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Do you have customers who live or work outside of the UK?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Where do these customers live or work?</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="list list--comma">
                    <li>USA</li>
                    <li>India</li>
                </ul>
                <footer class="group">
                    <p><a href="employment" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Where do these customers live or work?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Do you keep records of all your transactions with customers?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>No</p>
                <footer class="group">
                    <p><a href="records" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Do you keep records of all your transactions with customers?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Does your business have written guidance for staff on how to identify and report suspicious activity?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>Yes</p>
                <footer class="group">
                    <p><a href="procedures" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Does your business have written guidance for staff on how to identify and report suspicious activity?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Has your business registered online with the National Crime Agency?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>Yes</p>
                <footer class="group">
                    <p><a href="crime-agency" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Has your business registered online with the National Crime Agency?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Does your business have a formal risk assessment policy and procedure?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>Yes, paper-based</p>
                <footer class="group">
                    <p><a href="risk-assessment" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Does your business have a formal risk assessment policy and procedure?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Does your business receive advice on Money Laundering Regulations and due diligence?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>Professional advisor: Alice Example</p>
                <p>Clavering House,<br />Clavering Place,<br />Newcastle,<br />NE1 3GN</p>
                <footer class="group">
                    <p><a href="accountant" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Does your business receive advice on Money Laundering Regulations and due diligence?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Does this professional advisor also manage your tax affairs with HM Revenue and Customs (HMRC)?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>HMRC agent code: 0123456789</p>
                <footer class="group">
                    <p><a href="tax-matters" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Does this professional advisor also manage your tax affairs with HM Revenue and Customs (HMRC)?&#8221;</span></a></p>
                </footer>
            </section>

            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Accept and complete section">
                </div>
            </form>

            <p><a href="#">Print this page</a></p>

        </div>
    </div>
</main>
{% endblock %}
