
{% extends "layout.html" %}

{% block page_title %}
  Your contact details - About the business - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           <!-- {% include "includes/back.html" %} -->

            <header class="page-header">
                <h1 class="heading-xlarge">Your contact details</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is </span>About the business</p>
            </header>

            <p>We&#8217;ll email you when there&#8217;s an update about your application for anti-money laundering supervision.</p>

            <form method="get" autocomplete="off">

                <fieldset>

                    <legend class="visuallyhidden">Contacting your business</legend>

                    <div class="form-group">
                        <label class="form-label" for="email">Email address</label>
                        <span class="form-hint">For example, myname@example.com.</span>
                        <input class="form-control" type="email" id="email" pattern="*@-.-" required="required" aria-required="true" />
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="phone">Phone number</label>
                        <span class="form-hint">You can only use numbers, spaces, brackets, plus (+) and dash (-).</span>
                        <input class="form-control" type="text" id="phone" pattern="[0-9()+\\- ]+" required="required" aria-required="true" />
                      </label>
                    </div>

                    <div class="form-group">
                        <details class="details">
                            <summary class="summary">I need to tell you more about how to contact me</summary>

                            <div class="details panel panel-border-narrow">
                                <fieldset>
                                    <legend class="visuallyhidden">Select the option that applies to you</legend>
                                    <div class="form-group">
                                        <label class="block-label" for="contact-me-1">
                                            <input id="contact-me-1" type="radio" name="contact-me" value="text-only" /> Text only (no voice calls)
                                        </label>
                                        <label class="block-label" for="contact-me-2">
                                            <input id="contact-me-2" type="radio" name="contact-me" value="voice-only" /> Voice only (no text)
                                        </label>
                                    </div>
                                </fieldset>
                            </div>
                        </details>
                    </div>

                </fieldset>

                <input type="hidden" name="next-page" value="letters" />
                <input type="submit" class="button" value="Save and continue" />

            </form>

        </div><!-- /of main column -->
    </div><!-- / of grid-row -->
</main>
{% endblock %}