
{% extends "layout.html" %}

{% block page_title %}
Your answers - About the business - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           <!-- {% include "includes/back.html" %} -->

             <header class="page-header">
                <h1 class="heading-xlarge">Your answers</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is </span>About the business</p>
            </header>

            <section class="check-your-answers">
                <h2 class="heading-small">Is your business currently registered for anti-money laundering supervision?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>Money laundering regulations number: 45628975</p>
                <footer class="group">
                    <p><a href="registered" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Is your business currently registered for anti-money laundering supervision?&#8221;</span></a></p>
                </footer>
            </section>

            <!-- Only needed if not currently registered -->
            <!-- <section class="check-your-answers">
                <h2 class="heading-small">When will your business start activities that need to be registered for anti-money laundering supervision?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>22 June 2016</p>
                <footer class="group">
                    <p><a href="registered" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;When will your business start activities that need to be registered for anti-money laundering supervision?&#8221;</span></a></p>
                </footer>
            </section> -->

            <section class="check-your-answers">
                <h2 class="heading-small">Is your business registered for VAT in the UK?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>VAT registration number: 2468 1357 90</p>
                <footer class="group">
                    <p><a href="vat" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Is your business registered for VAT in the UK?&#8221;</span></a></p>
                </footer>
            </section>

            <!-- We should already know this information -->
            <!-- <section class="check-your-answers">
                <h2 class="heading-small">Is your business registered for Corporation Tax?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>Yes</p>
                <footer class="group">
                    <p><a href="corporation-tax" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Is your business registered for Corporation Tax?&#8221;</span></a></p>
                </footer>
            </section> -->

            <section class="check-your-answers">
                <h2 class="heading-small">Registered office</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>{% include "includes/business-address-nonlist.html" %}</p>
                <footer class="group">
                    <p><a href="confirming-address" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Registered office&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Contact details</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="list">
                    <li>Email address: {% include "includes/emailaddress.html" %}</li>
                    <li>Phone number: {% include "includes/telnumber.html" %}</li>
                </ul>
                <footer class="group">
                    <p><a href="contacting-you" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Contact details&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers check-your-answers__last">
                <h2 class="heading-small">Postal address</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>{% include "includes/business-address-nonlist.html" %}</p>
                <footer class="group">
                    <p><a href="letters" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Postal address&#8221;</span></a></p>
                </footer>
            </section>

            <form method="post" autocomplete="off">
                <input type="submit" class="button" value="Accept and complete section">
            </form>

            <p><a href="#">Print this page</a></p>
    </div>
    </div>
</main>
{% endblock %}