{{<layout}}

{{$pageTitle}}
  De-registered - Your registration - Anti-money laundering registration - GOV.UK
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">
            <header class="page-header">
                <h1 class="heading-xlarge">De-registered</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Your registration</p>
            </header>
        </div>
    </div>

    <div class="grid-row spacelarge">
        <div class="column-two-thirds">
            <div class="panel panel-border-wide">
                <p><span class="heading-small">Your business:</span>
                    <br />Ubunchews Accountancy Services</span>
                </p>
            </div>
        </div>

    </div>

    <div class="grid-row">
        {{!
        <div class="column-one-third">
            <ol class="list list-number status-list">
                <li class="status-list--complete">De-registered <span class="status-list--icon"></span></li>
                <li class="status-list--pending status-list--end">New application<span class="status-list--icon"></span></li>

            </ol>
        </div> }}
        <div class="column-two-thirds status-text">
            <p>You de-registered this business on: XXDATEXX</p>

            <p>This business is no longer registered for anti-money laundering supervision with HM Revenue and Customs.</p>
            <p>You must start a new application if you want to be registered again.</p>

            <div class="form-group">
                <a href="../pre-application/confirm-am" class="button" type="submit">Start new application</a>
            </div>
        </div>
    </div>

{{/main}}
{{/layout}}
