{{<layout}}

{{$pageTitle}}
  Your answers - Bank details - Anti-money laundering registration - GOV.UK
{{/pageTitle}}

{{$main}}

    <div class="grid-row">

        <div class="column-two-thirds">

            {{>includes/back}}

            <header class="page-header">
                <h1 class="heading-xlarge">Your answers</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Bank details</p>
            </header>

            <div class="panel panel-border-wide spacelarge">
                <p><a href="accounts">Add a bank account</a></p>
            </div>

            <section class="check-your-answers">
                <h2 class="heading-small">Lloyds TSB</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list">
                    <li>Sort code: 45-33-14</li>
                    <li>Account number: 01234537</li>
                    <li>UK Bank Account: yes</li>
                    <li>Account type: This business’ account</li>
                </ul>
                <footer class="group">
                    <p><a href="accounts" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Lloyds TSB&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Lloyds TSB</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list">
                    <li>Sort code: 45-33-14</li>
                    <li>Account number: 01234537</li>
                    <li>UK Bank Account: yes</li>
                    <li>Account type: This business’ account</li>
                </ul>
                <footer class="group">
                    <p><a href="accounts" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Lloyds TSB&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Lloyds TSB</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list">
                    <li>Sort code: 45-33-14</li>
                    <li>Account number: 01234537</li>
                    <li>UK Bank Account: yes</li>
                    <li>Account type: This business’ account</li>
                </ul>
                <footer class="group">
                    <p><a href="accounts" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Lloyds TSB&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Lloyds TSB</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list">
                    <li>Sort code: 45-33-14</li>
                    <li>Account number: 01234537</li>
                    <li>UK Bank Account: yes</li>
                    <li>Account type: This business’ account</li>
                </ul>
                <footer class="group">
                    <p><a href="accounts" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Lloyds TSB&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <details>
                    <summary><span class="summary">Lloyds TSB</span> (43219876)</summary>
                    <div class="panel panel-border-narrow">
                        <ul class="check-your-answers--list">
                            <li>Sort code: 45-33-14</li>
                            <li>Account number: 43219876</li>
                            <li>UK Bank Account: yes</li>
                            <li>Account type: This business’ account</li>
                        </ul>
                    </div>
                </details>
            </section>

            <section class="check-your-answers">
                <details>
                    <summary><span class="summary">Barclays Bank</span> (76543210)</summary>
                    <div class="panel panel-border-narrow">
                        <ul class="check-your-answers--list">
                            <li>Sort code: 45-33-14</li>
                            <li>Account number: 76543210</li>
                            <li>UK Bank Account: yes</li>
                            <li>Account type: This business’ account</li>
                        </ul>
                    </div>
                </details>
            </section>

            <section class="check-your-answers">
                <details>
                    <summary><span class="summary">Santander</span> (82647367)</summary>
                    <div class="panel panel-border-narrow">
                        <ul class="check-your-answers--list">
                            <li>Sort code: 45-33-14</li>
                            <li>Account number: 82647367</li>
                            <li>UK Bank Account: yes</li>
                            <li>Account type: This business’ account</li>
                        </ul>
                    </div>
                </details>
            </section>

            <section class="check-your-answers">
                <details>
                    <summary><span class="summary">HSBC</span> (01234537)</summary>
                    <div class="panel panel-border-narrow">
                        <ul class="check-your-answers--list">
                            <li>Sort code: 45-33-14</li>
                            <li>Account number: 01234537</li>
                            <li>UK Bank Account: yes</li>
                            <li>Account type: This business’ account</li>
                        </ul>
                    </div>
                </details>
            </section>

            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Confirm and continue">
                </div>
            </form>

            <p><a href="#">Print this page</a></p>

            </div>

        </div>

{{/main}}
{{/layout}}
