{{<layout}}

{{$pageTitle}}
    Update your information - Your application - Anti-money laundering registration - GOV.UK
{% extends "layout.html" %}

{% block page_title %}
    Is this your business? - Business matching - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}oas

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           <!-- {% include "includes/back.html" %} -->
            <header class="page-header">
                <h1 class="heading-xlarge">Your renewal progress</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Your registration</p>
            </header>
            <p>If something has changed in your business which is relevant to Money Laundering Regulations, you must amend before renewing your application for anti-money laudering supervision.</p>
            <p>There will be an additional fee to pay if you increase the number of responsible people or trading premises.</p>
        </div>
    </div>

    <div class="grid-row">
        <ul class="grid-layout column-two-thirds progress-steps progress-steps__amend">



            {{#sections}}
            <li>
                <a href="{{^status}}{{link}}{{/status}}{{#status}}{{editlink}}{{/status}}" class="progress-step {{#status}}progress-step__complete{{/status}}">
                    <div class="grid-layout column-two-thirds progress-step--details">
                        <h2 class="heading-small">{{name}}</h2> {{! If not started }} {{^status}}
                        <p>{{message}}</p>
                        {{/status}} {{! If completed }} {{#status}}
                        <p class="visuallyhidden">This section has been completed.</p>
                        <p class="progress-step__edit font-xsmall" aria-label="You can edit this section.">Edit</p>
                        {{/status}}
                    </div>
                    <div class="grid-layout column-one-third progress-step--status {{#status}}progress-step__complete{{/status}}">
                        {{^status}}
                        <div class="column-two-thirds progress-step--status-time">
                            <p class="visuallyhidden">This section needs starting and will take approximately</p>
                            <p class="font-xsmall"><span class="heading-large">{{time}}</span> minutes to complete</p>
                        </div>
                        {{/status}}
                    </div>
                </a>
            </li>
            {{/sections}}






            {{#sections}}
            <li>
                <a href="{{editlink}}" class="progress-step {{#status}}progress-step__complete{{/status}}" aria-label="{{name}}. {{message}} You can view and amend your information.">
                    <div class="grid-layout column-two-thirds progress-step--details">
                        <h2 class="heading-small">{{name}}</h2>
                        <p>{{message}}</p>
                    </div>
                    <div class="grid-layout column-one-third progress-step--status {{#status}}progress-step__complete{{/status}}">
                        <div class="column-two-thirds progress-step--status-time">
                            <p class="font-xsmall">View and
                                <br />amend your
                                <br />information</p>
                        </div>
                    </div>
                </a>
            </li>
            {{/sections}}
        </ul>
        <div class="column-one-third reg-step--submit">
            <div class="grid-row statusblock declaration">
                <h2 class="heading-small">Submit renewal application</h2>
                <p>You can't finish the renewal application until you've completed the renewal section.</p>
                <div class="form-group">
                    <a href="../update-information/who-is-registering" class="button" type="submit">Submit renewal</a>
                </div>
            </div>
        </div>
    </div>

{{/main}}

{{/layout}}
