
  Your answers - Money service business - Anti-money laundering registration - GOV.UK
{% extends "layout.html" %}

{% block page_title %}
    Is this your business? - Business matching - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           <!-- {% include "includes/back.html" %} -->

            <header class="page-header">
                <h1 class="heading-xlarge">Your answers</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Money service business</p>
            </header>

            <section class="check-your-answers">
                <h2 class="heading-small">Services your business provide</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list">
                    <li>Currency exchange</li>
                    <li>Transmitting money</li>
                </ul>
                <footer class="group">
                    <p><a href="services" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Services your business provide&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Anticipated total throughput for the next 12 months</h2>
                <p><span class="visuallyhidden">Answer: </span>&pound;1m to &pound;20m</p>
                <footer class="group">
                    <p><a href="anticipated-totals" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Anticipated total throughput for the next 12 months&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Do you have branches or agents in other countries?</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list list--comma">
                    <li>France</li>
                    <li>Germany</li>
                    <li>Norway</li>
                    <li>Sweden</li>
                </ul>
                <footer class="group">
                    <p><a href="branches-or-agents" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Do you have branches or agents in other countries?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Can your systems identify linked transactions?</h2>
                <p><span class="visuallyhidden">Answer: </span>Yes</p>
                <footer class="group">
                    <p><a href="transactions" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Can your systems identify linked transactions?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Has your business applied for a Payment Systems Regulator (PSR) registration number?</h2>
                <p><span class="visuallyhidden">Answer: </span>Reg: 123456789</p>
                <footer class="group">
                    <p><a href="psr-registration" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Has your business applied for a Payment Systems Regulator (PSR) registration number?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Does your business use an Intermediary Payment Service Provider (IPSP)?</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list">
                    <li>Provider Name</li>
                    <li>934 567 890</li>
                </ul>
                <footer class="group">
                    <p><a href="payment-service-provider" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Does your business use an Intermediary Payment Service Provider (IPSP)?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Do you transfer money without using formal banking systems?</h2>
                <p><span class="visuallyhidden">Answer: </span>No</p>
                <footer class="group">
                    <p><a href="funds-transfer" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Do you transfer money without using formal banking systems?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">How many money transfers do you expect to make in the next 12 months?</h2>
                <p><span class="visuallyhidden">Answer: </span>9600</p>
                <footer class="group">
                    <p><a href="transfers" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;How many money transfers do you expect to make in the next 12 months?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Where do you expect to send the largest amounts of money?</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list list--comma">
                    <li>France</li>
                    <li>Germany</li>
                    <li>Norway</li>
                    <li>Sweden</li>
                </ul>
                <footer class="group">
                    <p><a href="largest-amounts" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Where do you expect to send the largest amounts of money?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Where do you expect to send the most transactions?</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list list--comma">
                    <li>France</li>
                    <li>Germany</li>
                    <li>Norway</li>
                    <li>Sweden</li>
                </ul>
                <footer class="group">
                    <p><a href="most-transactions" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Where do you expect to send the most transactions?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">What do you expect to be the most popular foreign currencies for your customers?</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list list--comma">
                    <li>Euro</li>
                    <li>NOK Krona</li>
                    <li>Dollars</li>
                </ul>
                <footer class="group">
                    <p><a href="currency" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;What do you expect to be the most popular foreign currencies for your customers?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Who will supply your foreign currency?</h2>
                <p><span class="visuallyhidden">Answer: </span>Bank: Merchant Bank Name</p>
                <footer class="group">
                    <p><a href="currency" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Who will supply your foreign currency?&#8221;</span></a></p>
                </footer>
            </section>

            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Confirm and continue">
                </div>
            </form>

            <p><a href="#">Print this page</a></p>

        </div>
    </div>
</main>
{% endblock %}
