
{% extends "layout.html" %}

{% block page_title %}
     Confirm - Payment - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="heading-xlarge">Confirm details</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Payment</p>
            </header>


            <div class="panel panel-border-wide">
                <p>Pay now using Worldpay, a secure service used by HMRC</p>
            </div>

            <table class="spacelarge">
                <tbody>
                    <!-- <tr>
                        <th>Tax</th>
                        <td class="numeric">Anti-money laundering supervision</td>
                    </tr> -->
                    <tr>
                        <th>Payment reference</th>
                        <td class="numeric">XAAM00000123456</td>
                    </tr>
                    <tr>
                        <th>Card type</th>
                        <td class="numeric">Visa debit</td>
                    </tr>
                    <tr>
                        <th>Amount</th>
                        <td class="numeric">&pound;300</td>
                    </tr>
                </tbody>
            </table>




            <a href="#" class="button" >Confirm</a>


        </div>
    </div>
</main>
{% endblock %}