{{<layout}}

{{$pageTitle}}
    Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
		<div class="column-two-thirds">

            <div class="govuk-box-highlight spacelarge">
                <h2 class="heading-large">Government Gateway account created</h2>
            </div>

            <div class="panel panel-border-wide">
                <h3 class="heading-medium">User ID: 454356787654</h3>
            </div>
            <p>You have created a Government Gateway account. You can now register for anti-money laundering supervision.</p>
            <p><a href="#">Print your User ID</a></p>

            <div class="form-group">
                <a href="../business-structure" class="button" type="submit">Continue</a>
            </div>

		</div>
	</div>

{{/main}}
{{/layout}}