
{% extends "layout.html" %}

{% block page_title %}
  Your answers - Estate agents - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           <!-- {% include "includes/back.html" %} -->

            <header class="page-header">
                <h1 class="heading-xlarge">Your answers</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Estate Agency Business</p>
            </header>

            <section class="check-your-answers">
                <h2 class="heading-small">Estate agency services</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list">
                    <li>Residential Estate Agency</li>
                    <li>Redress scheme: The Property Ombudsman Limited</li>
                </ul>
                <footer class="group">
                    <p><a href="#" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Estate agency services&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Has the business, or anyone in the business, ever been penalised under the Estate Agents Act 1979?</h2>
                <p><span class="visuallyhidden">Answer: </span>I had a very good reason</p>
                <footer class="group">
                    <p><a href="#" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Has the business, or anyone in the business, ever been penalised under the Estate Agents Act 1979?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Has the business, or anyone in the business, ever been penalised by a professional body?</h2>
                <p><span class="visuallyhidden">Answer: </span>I had a very good reason</p>
                <footer class="group">
                    <p><a href="#" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Has the business, or anyone in the business, ever been penalised by a professional body?&#8221;</span></a></p>
                </footer>
            </section>

            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Confirm and continue">
                </div>
            </form>

            <p><a href="#">Print this page</a></p>

        </div>
    </div>
</main>
{% endblock %}
