        </div>
    </div>
</main>
{% endblock %}

{% block page_title %}
  Check your answers - Money service business - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="heading-xlarge">Check your answers</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Renewal</p>
            </header>

            <section class="check-your-answers">
                <h2 class="heading-small">Is your business involved in any other activities?</h2>
                <p><span class="visuallyhidden">Answer: </span>No</p>
                <footer class="group">
                    <p><a href="confirm-activities" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Is your business involved in any other activities, which are not covered by Money Laundering Regulations?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">How much total net profit did your business make in the last 12 months?</h2>
                <p><span class="visuallyhidden">Answer: </span>&pound;1m to &pound;10m</p>
                <footer class="group">
                    <p><a href="business-turnover" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;How much turnover do you expect in the next 12 months?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">How much total net profit did your business make in the last 12 months, from the following activities?</h2>
                <p><span class="visuallyhidden">Answer: </span>&pound;250,000 to &pound;999,000</p>
                <footer class="group">
                    <p><a href="turnover" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;How much turnover do you expect in the next 12 months?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">What was your total throughput in the last 12 months?</h2>
                <p><span class="visuallyhidden">Answer: </span>&pound;21m to &pound;100m</p>
                <footer class="group">
                    <p><a href="anticipated-totals" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;How much throughput do you expect in the next 12 months?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">How many money transfers did you carry out in the last 12 months?</h2>
                <p><span class="visuallyhidden">Answer: </span>2000</p>
                <footer class="group">
                    <p><a href="transfers" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;How many transactions do you expect in the next 12 months?&#8221;</span></a></p>
                </footer>
            </section>

<section class="check-your-answers">
                <h2 class="heading-small">Where did you send the largest amounts of money in the last 12 months?</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list list--comma">
                    <li>France</li>
                    <li>Germany</li>
                    <li>Norway</li>
                </ul>
                <footer class="group">
                    <p><a href="largest-amounts" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Where do you expect to send the largest amounts of money?&#8221;</span></a></p>
                </footer>
            </section>


            <section class="check-your-answers">
                <h2 class="heading-small">Where did you send the most transactions in the last 12 months?</h2>
                <p><span class="visuallyhidden">Answer: </span>France</p>
                <footer class="group">
                    <p><a href="most-transactions" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Where do you expect to send the most transactions?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">How many currency exchange transactions did you carry out in the last 12 months?</h2>
                <p><span class="visuallyhidden">Answer: </span>15000</p>
                <footer class="group">
                    <p><a href="transaction-currency" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Where do you expect to send the most transactions?&#8221;</span></a></p>
                </footer>
            </section>





            <section class="check-your-answers">
                <h2 class="heading-small">Which currencies did you supply the most to your customers in the last 12 months?</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list list--comma">
                    <li>Euros</li>
                    <li>US Dollars</li>
                </ul>
                <footer class="group">
                    <p><a href="currency" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Which currencies do you expect to supply the most to your customers?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Who supplied your foreign currency?</h2>
                <p><span class="visuallyhidden">Answer: </span>Customers selling their foreign currency</p>
                <footer class="group">
                    <p><a href="currency" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Who will supply your foreign currency?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">What proportion of your turnover in the last 12 months came from cash payments over €15,000?</h2>
                <p><span class="visuallyhidden">Answer: </span>41 - 60%</p>
                <footer class="group">
                    <p><a href="percentage" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;What proportion of your turnover do you expect to come from cash payments over €15,000?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">In the last 12 months did you receive cash payments over €15,000 from customers you've not met in person?</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list">
                    <li>Yes</li>
                    <li>How did you receive these payments? By courier</li>
                </ul>
                <footer class="group">
                    <p><a href="receiving" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Do you expect to receive cash payments over €15,000 from customers you've not met in person?&#8221;</span></a></p>
                </footer>
            </section>

            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Accept and complete section">
                </div>
            </form>

            <p><a href="#">Print this page</a></p>

        </div>
    </div>
</main>
{% endblock %}
