
{% extends "layout.html" %}

{% block page_title %}
What you need - Bank details - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="heading-xlarge">What you need</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Renewal</p>
            </header>

        </div>
    </div>

    <div class="grid-row what-you-need">

        <div class="column-one-third">
            {% include "includes/save-message.html" %}
        </div>

        <div class="column-two-thirds">

            <h2 class="heading-small">All businesses</h2>

            <p>For this section you’ll need to show your business activities for the last 12 months. You'll be asked for:</p>

            <ul class="list list-bullet">
                <li>your net profit</li>
                <li>your net profit on activities covered by Money Laundering Regulations</li>
            </ul>

            <h2 class="heading-small">Money Service Businesses</h2>

            <p>If you're a Money Service Business you'll need to know:

            <ul class="list list-bullet">
                <li>your throughput</li>
                <li>the number of money transfers you made</li>
                <li>the countries you sent the largest amounts of money to</li>
                <li>the countries you sent the most transactions to</li>
                <li>the number of currency exchange transactions you made</li>
                <li>the currencies you supplied the most</li>
                <li>who supplied your foreign currency</li>
            </ul>

            <h2 class="heading-small">High Value Dealers</h2>

            <p>If you're a High Value Dealer you'll need to know:</p>

            <ul class="list list-bullet">

                <li>the proportion of your turnover from cash payments over &#8364;15,000 in value</li>
                <li>details of cash payments over &#8364;15,000 in value that came from customers you've never met in person</li>
            </ul>

                        <div class="form-group">
                <a href="confirm-activities" class="button" role="button">Continue</a>
            </div>

        </div>
    </div>
</main>
{% endblock %}
