        </div>
    </div>
</main>
{% endblock %}

{% block page_title %}
    In the last 12 months did you receive cash payments over €15,000 from customers you've not met in person? - High value dealer - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           <!-- {% include "includes/back.html" %} -->

            <header class="page-header">
                <h1 class="heading-xlarge">In the last 12 months did you receive cash payments over €15,000 from customers you've not met in person?</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Renewal</p>
            </header>

            <form method="post">
                <input type="hidden" name="next-page" value="check-your-answers">

                <fieldset class="form-group">
                    <legend class="visuallyhidden">Do you expect to receive cash payments over €15,000 from customers you've not met in person?</legend>
                    <fieldset class="inline">
                        <span class="form-hint">If you do not use Euros, please convert to the currency you use.</span>
                        <label class="block-label" for="yes-alias" data-target="face">
                            <input id="yes-alias" type="radio" name="payment" value="6a">Yes
                        </label>
                        <label class="block-label" for="no-alias">
                            <input id="no-alias" type="radio" name="payment" value="summary">No
                        </label>
                    </fieldset>

                    <div class="panel panel-border-narrow js-hidden" id="face">
                        <label class="form-label">How did you receive these payments?
                            <span class="form-hint">Select all that apply</span>
                        </label>
                        <div class="form-group">
                            <label class="block-label">
                                <input id="asp" type="checkbox" name="activities" value="asp">By courier
                            </label>
                            <label class="block-label">
                                <input id="ct" type="checkbox" name="activities" value="bpsp">Directly into a bank account
                            </label>
                            <label class="block-label" data-target="other">
                                <input id="other-ps" type="checkbox" name="activities" value="msb">Other
                            </label>
                            <div class="form-group js-hidden" id="other">
                                <label class="form-label" for="first-name-2">Please give details</label>
                                <input class="form-control" id="first-name-2" type="text">
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>

        </div>
    </div>
</main>
{% endblock %}
