        </div>
    </div>
</main>
{% endblock %}

{% block page_title %}
    Your payment details - Payment - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           <!-- {% include "includes/back.html" %} -->


            <header class="page-header">
                <h1 class="heading-xlarge">Your payment details</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Your registration</p>
            </header>
        </div>
    </div>

    <div class="grid-row spacelarge">
        <div class="column-two-thirds">

            <div class="panel panel-border-wide">
                <p>Only use this if the payment reference on your payslip is 14 or 15 characters long and starts with an 'X'. Please see <a href="#">paying HMRC</a> for other types of payments.
            </div>

            <form class="form" method="post">
                <input type="hidden" name="next-page" value="turnover">

                 <fieldset class="inline">
                    <legend class="visuallyhidden">Reference number</legend>
                    <div class="form-group">
                        <label for="yes" class="form-label">Reference number
                            <span class="form-hint">It starts with an X is 14 or 15 characters long in the format XA123456789012</span>
                        </label>
                        <input id="yes" class="form-control" type="number" >
                    </div>
                    <div class="form-group">
                        <label for="no" class="form-label">Amount to pay</label>
                        <input id="no" class="form-control" type="number" >
                    </div>
                </fieldset>


                <a href="payment-option" class="button" >Continue</a>

            </form>
        </div>
    </div>
</main>
{% endblock %}