{% extends "layout.html" %}

{% block page_title %}
  What you need - Supervision - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="heading-xlarge">What you need</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Supervision</p>
            </header>
        </div>
    </div>
    <div class="grid-row what-you-need">

        <div class="column-one-third">
            {% include "includes/save-message.html" %}
        </div>

        <div class="column-two-thirds">

            <p class="heading-small">Depending on your circumstances, you may need:</p>

            <ul class="list list-bullet">
                <li>the name of your last anti-money laundering supervisor</li>
                <li>the start date and end date of your last supervision</li>
                <li>the reason your last supervision ended</li>
                <li>a list of your professional memberships</li>
                <li>details of penalties you’ve received from a professional body</li>
            </ul>

            <a href="supervised" class="button" role="button">Continue</a>

        </div>
    </div>
</main>
{% endblock %}