

{% extends "layout.html" %}

{% block page_title %}
  Check your answers - High value dealer - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="heading-xlarge">Check your answers</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>High Value Dealers</p>
            </header>

            <section class="check-your-answers">
                <h2 class="heading-small">What will your business sell?</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="list list--comma">
                    <li>Gold</li>
                    <li>Jewellery</li>
                </ul>
                <footer class="group">
                    <p><a href="#" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;What will your business sell?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Will you be buying or selling duty-suspended excise goods?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>Yes</p>
                <footer class="group">
                    <p><a href="#" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Will you be buying or selling duty-suspended excise goods?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">How will you sell these goods?</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="list list--comma">
                    <li>Auction</li>
                    <li>Wholesale</li>
                </ul>
                <footer class="group">
                    <p><a href="#" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;How will you sell these goods?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Has your business already accepted any cash payments of €15,000 or more?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>Date of first payment: 12 07 2015</p>
                <footer class="group">
                    <p><a href="#" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Has your business already accepted any cash payments of €15,000 or more?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Are you able to automatically identify linked cash payments which come to €15,000 or more?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>No</p>
                <footer class="group">
                    <p><a href="#" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Are you able to automatically identify linked cash payments which come to €15,000 or more?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Do you expect to receive cash payments over €15,000 from customers you've not met in person?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>How do you expect to receive these payments? By courier</p>
                <footer class="group">
                    <p><a href="#" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Do you expect to receive cash payments over €15,000 from customers you've not met in person?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">What proportion of your turnover do you expect to come from cash payments over €15,000?</h2>
                <span class="visuallyhidden">Answer: </span>
                <p>41 to 60%</p>
                <footer class="group">
                    <p><a href="#" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;What proportion of your turnover do you expect to come from cash payments over €15,000?&#8221;</span></a></p>
                </footer>
            </section>

            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Accept and complete section">
                </div>
            </form>

            <p><a href="#">Print this page</a></p>

        </div>
    </div>
</main>
{% endblock %}
