

{% extends "layout.html" %}

{% block page_title %}
   Your answers - High value dealer - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="heading-xlarge">Your answers</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>High value dealer</p>
            </header>

            <section class="check-your-answers">
                <h2 class="heading-small">What specific high value dealer goods will you be selling?</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list">
                    <li>Gold and Jewellery</li>
                    <li>Antiques</li>
                </ul>
                <footer class="group">
                    <p><a href="#" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;What specific high value dealer goods will you be selling?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">How are these goods to be sold?</h2>
                <span class="visuallyhidden">Answer: </span>
                <ul class="check-your-answers--list">
                    <li>Auction</li>
                    <li>Retail</li>
                </ul>
                <footer class="group">
                    <p><a href="#" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;How are these goods to be sold?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Has the business already accepted any high value cash payments over the threshold?</h2>
                <p><span class="visuallyhidden">Answer: </span>12 February 2015</p>
                <footer class="group">
                    <p><a href="#" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Has the business already accepted any high value cash payments over the threshold?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Do your systems automatically identify linked cash payments which come to €15,000 or more?</h2>
                <p><span class="visuallyhidden">Answer: </span>No</p>
                <footer class="group">
                    <p><a href="#" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Do your systems automatically identify linked cash payments which come to €15,000 or more?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Do you anticipate receiving high value cash payments over the threshold from customers you have not seen face to face?</h2>
                <p><span class="visuallyhidden">Answer: </span>By courier</p>
                <footer class="group">
                    <!-- <p><a href="#" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Do you anticipate receiving high value cash payments over the threshold from customers you have not seen face to face?&#8221;</span></a></p> -->
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">What percentage of your turnover do you anticipate will come from High Value Cash payments?</h2>
                <p><span class="visuallyhidden">Answer: </span>41 to 60%</p>
                <footer class="group">
                    <!-- <p><a href="#" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;What percentage of your turnover do you anticipate will come from High Value Cash payments?&#8221;</span></a></p> -->
                </footer>
            </section>

            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Confirm and continue">
                </div>
            </form>

            <p><a href="#">Print this page</a></p>

        </div>
    </div>
</main>
{% endblock %}
