{{<layout}}

{{$pageTitle}}
    How would you like to pay - Payment - Anti-money laundering registration - GOV.UK
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

             {{>includes/back}}

            <header class="page-header">
                <h1 class="heading-xlarge">How would you like to pay</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Your registration</p>
            </header>


            <form class="form" method="post">
                <input type="hidden" name="next-page" value="payment-confirmation">
                <fieldset>
                    <legend class="visuallyhidden">Choose method of payment</legend>
                    <div class="form-group">
                        <label class="block-label" for="radio-1">
                            <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">Visa debit
                        </label>
                        <label class="block-label" for="radio-2">
                            <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">Mastercard debit
                        </label>
                        <label class="block-label" for="radio-3">
                            <input id="radio-3" type="radio" name="radio-group" value="I am a British citizen living abroad">Visa
                        </label>
                        <label class="block-label" for="radio-4">
                            <input id="radio-4" type="radio" name="radio-group" value="I am a British citizen living abroad">Mastercard
                        </label>
                    </div>
                </fieldset>

                <input type="submit" class="button" value="Save and continue">

            </form>


        </div>
    </div>



{{/main}}
{{/layout}}
