        </div>
    </div>
</main>
{% endblock %}

{% block page_title %}
    People you have registered - Responsible people - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="page-header--lede heading-xlarge">People you have registered</h1>
                <p class="page-header--sub heading-secondary"><span class="visuallyhidden">This section is: </span>Responsible people</p>
            </header>

            <ul class="list check-your-answers--amend">

              <li class="group">
                    <span class="column-two-thirds"><span class="visuallyhidden">You have registered </span>{% include "includes/person.html" %}</span>
                    <footer class="column-one-third check-your-answers__footer">
                        <a href="person-details">Edit<span class="visuallyhidden"> the responsible person {% include "includes/person.html" %}</span></a> or <a href="remove">Remove<span class="visuallyhidden"> {% include "includes/person.html" %} from your responsible people</span></a>
                    </footer>
                </li>

                <li class="group">
                    <span class="column-two-thirds"><span class="visuallyhidden">You have registered </span>Brian Coult</span>
                    <footer class="column-one-third check-your-answers__footer">
                        <a href="person-details">Edit<span class="visuallyhidden"> the responsible person Brian Coult</span></a> or <a href="remove">Remove<span class="visuallyhidden"> Brian Coult from your responsible people</span></a>
                    </footer>
                </li>

                <li class="group">
                    <span class="column-two-thirds"><span class="visuallyhidden">You have registered </span>Milly Shaw</span>
                    <footer class="column-one-third check-your-answers__footer">
                        <a href="person-details">Edit<span class="visuallyhidden"> the responsible person Milly Shaw</span></a> or <a href="remove">Remove<span class="visuallyhidden"> Milly Shaw from your responsible people</span></a>
                    </footer>
                </li>



            </ul>

            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Accept and complete section">
                </div>
            </form>

            <p><a href="#">Print this page</a></p>

        </div>
    </div>
</main>
{% endblock %}
