        </div>
    </div>
</main>
{% endblock %}

{% block page_title %}
  Has this person already passed the HMRC Money Laundering Regulations Fit and Proper test? - Responsible people - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="heading-xlarge">Has <!-- this person -->{% include "includes/person.html" %} already passed the HMRC Money Laundering Regulations Fit and Proper test?</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Responsible people</p>
            </header>

        <form method="post">
            <input type="hidden" name="next-page" value="responsible-person-registered">

            <div class="form-group">
                <legend class="visuallyhidden">Has this person already passed the HMRC Money Laundering Regulations Fit and Proper test?</legend>
                <fieldset class="inline">
                    <label class="block-label" for="radio-inline-2-3">
                        <input id="radio-inline-2-3" type="radio" name="radio-inline-group-2" value="Yes">Yes
                    </label>
                    <label class="block-label" for="radio-inline-2-4">
                        <input id="radio-inline-2-4" type="radio" name="radio-inline-group-2" value="No">No
                    </label>
                </fieldset>
            </div>

             <div class="form-group">
                <details>
                    <summary>
                        <span class="summary">The Fit and Proper test</span>
                    </summary>
                    <div class="panel panel-border-wide">
                        <p>The responsible people in your business need to pass a <a href="https://www.gov.uk/guidance/money-laundering-regulations-apply-for-the-fit-and-proper-test">Fit and Proper Test</a>. If anyone has already passed the test before, they don’t need to do it again.</p>
                        <p>HMRC will perform the tests by checking their records against the information you've given. You don't need to take any further action.</p>
                        <p>There’s a £100 charge for each person that needs to be tested. This will be added to your total application fee</p>
                    </div>
                </details>
            </div>


                <input type="submit" class="button" value="Save and continue">

        </form>

        </div>
    </div>
</main>
{% endblock %}
