        </div>
    </div>
</main>
{% endblock %}

{% block page_title %}
  Check your answers - Responsible people - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="heading-xlarge">Check your answers</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Responsible people</p>
            </header>

            <h2 class="heading-large">Responsible person: {% include "includes/person.html" %}</h2>

            <section class="check-your-answers">
                <h2 class="heading-small">Has this person ever legally changed their name?</h2>
                <p><span class="visuallyhidden">Answer: </span>No</p>
                <footer class="group">
                    <p><a href="your-name" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Has this person ever legally changed their name?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Is this person known by any other names?</h2>
                <p><span class="visuallyhidden">Answer: </span>No</p>
                <footer class="group">
                    <p><a href="your-name" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Is this person known by any other names?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Is this person a UK resident?</h2>
                <p><span class="visuallyhidden">Answer: </span>Yes</p>
                <footer class="group">
                    <p><a href="residency" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Is this person a UK resident?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">National Insurance number</h2>
                <p><span class="visuallyhidden">Answer: </span>QQ123456C</p>
                <footer class="group">
                    <p><a href="residency" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;National Insurance number&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Country of birth</h2>
                <p><span class="visuallyhidden">Answer: </span>UK</p>
                <footer class="group">
                    <p><a href="residency" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Country of birth&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Country of nationality</h2>
                <p><span class="visuallyhidden">Answer: </span>United Kingdom</p>
                <footer class="group">
                    <p><a href="residency" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Nationality&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Phone number</h2>
                <p><span class="visuallyhidden">Answer: </span>0123 456789</p>
                <footer class="group">
                    <p><a href="contacting-you" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Phone number&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Email</h2>
                <p><span class="visuallyhidden">Answer: </span>email@email.com</p>
                <footer class="group">
                    <p><a href="contacting-you" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Email&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Address</h2>
                <p><span class="visuallyhidden">Answer: </span>44 This Street, Someplace, NE1 13S</p>
                <footer class="group">
                    <p><a href="address" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Address&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">How long has this person lived at this address?</h2>
                <p><span class="visuallyhidden">Answer: </span>More than 3 years</p>
                <footer class="group">
                    <p><a href="address" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;How long has this person lived at this address?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">What’s this person’s position within the business?</h2>
                <p><span class="visuallyhidden">Answer: </span>Nominated officer</p>
                <footer class="group">
                    <p><a href="position" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;What’s this person’s position within the business?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">When did this position start?</h2>
                <p><span class="visuallyhidden">Answer: </span>12 07 2014</p>
                <footer class="group">
                    <p><a href="position" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;When did this position start?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Does this person have any previous experience in these activities?</h2>
                <p><span class="visuallyhidden">Answer: </span>No</p>
                <footer class="group">
                    <p><a href="experience-training" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Does this person have any previous experience in these activities?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Has this person had training in anti-money laundering or counter-terrorism funding?</h2>
                <p><span class="visuallyhidden">Answer: </span>No</p>
                <footer class="group">
                    <p><a href="training" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Has this person had training in anti-money laundering or counter-terrorism funding?&#8221;</span></a></p>
                </footer>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Has this person passed the Money Laundering Regulations Fit and Proper test?</h2>
                <p><span class="visuallyhidden">Answer: </span>Yes</p>
                <footer class="group">
                    <p><a href="fit-and-proper" class="edit">Edit<span class="visuallyhidden"> your answer for &#8220;Has this person passed the Money Laundering Regulations Fit and Proper test?&#8221;</span></a></p>
                </footer>
            </section>

            <div class="form-group">
                <a href="check-your-answers" class="button" type="submit">Save and continue</a>
            </div>

            <p><a href="#">Print this page</a></p>

        </div>
    </div>
</main>
{% endblock %}
