        </div>
    </div>
</main>
{% endblock %}

{% block page_title %}
    Application withdrawn - Your application - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}



            <header class="page-header">
                <h1 class="heading-xlarge">Remove a responsible person</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Responsible people</p>
            </header>

            <div class="panel panel-border-wide spacelarge">
                <p>This will permanently remove {% include "includes/person.html" %} from your list of reponsible people.</p>
            </div>


            <form class="form" method="post">

                <input type="hidden" name="next-page" value="your-answers">

                <fieldset>
                    <legend class="form-label">When did {% include "includes/person.html" %} stop being a responsible person for your business?
                        <span class="form-hint" id="dob-hint">For example, 31 3 1980</span>
                    </legend>
                    <div class="form-group">
                        <div class="form-date">
                            <div class="form-group form-group-day">
                                <label for="dob-day">Day</label>
                                <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
                            </div>
                            <div class="form-group form-group-month">
                                <label for="dob-month">Month</label>
                                <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                            </div>
                            <div class="form-group form-group-year">
                                <label for="dob-year">Year</label>
                                <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
                            </div>
                        </div>
                    </div>
                </fieldset>




                <div class="form-group">
                    <input type="submit" class="button" value="Remove responsible person">
                </div>
            </form>

        </div>
    </div>
</main>
{% endblock %}
