        </div>
    </div>
</main>
{% endblock %}

{% block page_title %}
  What you need - Responsible people - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

           {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="heading-xlarge">What you need</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Responsible people</p>
            </header>

            <p class="heading-small">For each responsible person, you may need their:</p>

            <ul class="list list-bullet">
                <li>passport number</li>
                <li>National Insurance number</li>
                <li>VAT number and Self Assessment number</li>
                <li>details of relevant experience and training</li>
            </ul>

            <p class="heading-small">You&#8217;ll also need their:</p>
            <ul class="list list-bullet">
                <li>current name, and any alternative or former names</i>
                <li>date of birth</li>
                <li>nationality and country of birth</li>
                <li>phone number and email address</li>
                <li>home address</li>
                <li>position within the business and start date</li>
            </ul>

            <p><a href="your-name" class="button" role="button">Continue</a></p>

        </div>
    </div>
</main>
{% endblock %}
