{{<layout}}

{{$pageTitle}}
  Is this your registered office? - About the business - Anti-money laundering registration - GOV.UK
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}

            <header class="page-header">
                <h1 class="heading-xlarge">Is this your registered office?</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>About the business</p>
            </header>

            <div class="panel panel-border-wide">
                {{>includes/business-address}}
            </div>

            <form method="post">
                <fieldset class="inline">

                    <legend class="visuallyhidden">Is this your registered office or main place of business?</legend>
                    <div class="form-group">
                        <label class="block-label" for="radio-inline-2-1">
                            <input id="radio-inline-2-1" type="radio" name="next-page" value="contacting-you">Yes
                        </label>
                        <label class="block-label" for="radio-inline-2-3">
                            <input id="radio-inline-2-3" type="radio" name="next-page" value="new-registered-office">No
                        </label>
                    </div>

                </fieldset>

                <input type="submit" class="button" value="Save and continue">

            </form>

        </div>
    </div>

{{/main}}
{{/layout}}
