{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">{% include "includes/servicename.html" %}</h1>

            <p>Your business needs to be monitored by a supervisory authority if Money Laundering Regulations apply to your business type.</p>

            <table>
                <thead>
                    <tr>
                        <th width="25%">Iteration</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td><a href="{{sprintname}}/">Sprint 26</a></td>

                        <td><ul class="list list-bullet">
                            <li>Variations work for the status pages</li>
                            <li>Prototype re-jig to GOV.uk version 3.0</li>
                            <li>Changes to reflect chaching of data</li>
                            <li>Gov-gateway changes</li>
                            </ul>
                        </td>

                    </tr>

                </tbody>
            </table>


    </div>
  </div>
</main>

{% endblock %}


