{% extends "layout.html" %}

{% block page_title %}
  Enter your business details - Business Matching - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            {% include "includes/back.html" %}

            <header class="page-header">
                <h1 class="heading-xlarge">Enter your business details</h1>
                <p class="heading-secondary"><span class="visuallyhidden">This section is: </span>Business matching</p>
            </header>

            <p class="lede">We will attempt to match your details against information we currently hold</p>

            <form method="post">
                <fieldset>
                    <legend class="visuallyhidden">Enter your business details</legend>

                    <div class="form-group">
                        <label class="form-label" for="first_name">First name</label>
                        <input class="form-control" id="first_name" type="text" name="first_name" value="">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="last_name">Last name</label>
                        <input class="form-control" id="last_name" type="text" name="last_name" value="">
                    </div>

                   <div class="form-group">
                        <label class="form-label" for="utr">Self Assessment Unique Tax Reference (UTR)
                            <span class="form-hint">The Self Assessment UTR can be made up of 10 or 13 numbers. If it&#8217;s 13 numbers, enter only the last 10 numbers.</span>
                        </label>
                        <input class="form-control" id="utr" type="text" name="utr" value="">
                    </div>

                    <div class="form-group">
                        <details>
                            <summary>
                                <span class="summary">Where to find your UTR</span>
                            </summary>
                            <div class="panel panel-border-narrow">
                                <p>You can find your Self Assessment UTR in the header of any letter issued by HMRC. It may be labelled 'Tax Reference', 'UTR' or 'Official Use'.</p>
                                <p>If you can't find your Self Assessment UTR, <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/self-assessment">call the helpline</a>. HMRC will send you it by post - they can’t tell you it over the phone.</p>
                            </div>
                        </details>
                    </div>

                </fieldset>

                <a href="confirm" class="button" type="submit" id="save-and-continue">Match</a>

            </form>

        </div>
    </div>
</main>
{% endblock %}