{% extends "layout.html" %}

{% block page_title %}
    Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <header class="page-header">
                <h1 class="heading-xlarge">Manage your anti-money laundering supervision</h1>
                <!-- <p class="heading-secondary"><span class="visuallyhidden">This section is </span>Pre-application</p> -->
            </header>

            <p>Use this service to register with HM Revenue and Customs (HMRC) for supervision under the Money Laundering Regulations.</p>
            <p>If you&#8217;re already registered you can update your information, de-register or renew your registration.</p>

            <a class="button button-start" href="gov-gateway/index" role="button">Start now</a>

            <h2 class="heading-medium">Before you register</h2>
            <p>You&#8217;ll need to answer a few questions so HMRC can identify your business. You might need to look up a couple of things.</p>

            <h3 class="heading-small">Unique Taxpayer Reference (UTR) number</h3>
            <p>If we can&#8217;t find your business automatically, we&#8217;ll ask for your UTR number. You&#8217;ll find it in the header of any letter issued by HMRC. It may be labelled &#8216;Tax Reference&#8217;, &#8216;UTR&#8217; or &#8216;Official Use&#8217;.</p>

            <h3 class="heading-small">Company registration number</h3>
            <p>If your business is a limited company you&#8217;ll need this. You can <a href="https://beta.companieshouse.gov.uk/">search for your company registration number</a>, or find it on official letters from Companies House or your Certificate of Incorporation.</p>


        </div>
    </div>
</main>
{% endblock %}